[2012-02-18 18:17] OscarGodson opened #1 "Add Solarized themes as editor themes"
http://ethanschoonover.com/solarized

Eventually it'd be nice to have these color themes, but it's not too important.

[2012-02-18 18:18] OscarGodson opened #2 "Make a editor and previewer directory in themes"
To make it more obvious what themes are for what

[2012-02-18 18:18] OscarGodson opened #3 "Make editor work in IE7"
Should _work_, but not look like IE8, 9 or FF/Chrome latest. We should go with a "lite" version which has no fullscreen or animations.

[2012-02-18 18:18] OscarGodson opened #4 "Make editor work in IE8"

[2012-02-18 18:19] OscarGodson opened #5 "Make editor work in IE9"

[2012-02-18 18:20] OscarGodson opened #6 "Get fullscreen working correctly in Safari"
It's pretty buggy right now for some reason:
- Full screen doesn't actually fit fullscreen
- Closing fullscreen has a weird flash of an unstyled editor.

[2012-02-18 18:23] OscarGodson opened #7 "Verify normal markdown links work"
People reported that normal MD links weren't working. Like `[some link](http://google.com)` If it works fine in Chrome, FF, and IE9 sure it works elsewhere.

[2012-02-18 18:24] OscarGodson opened #8 "Default content is not previewable"
If you set default content, and then click preview without typing anything the preview will be blank.

[2012-02-18 18:25] OscarGodson opened #9 "Finish README"
Quickstart especially is missing the whole cloning/downloading piece

[2012-02-18 18:28] OscarGodson opened #10 "Add warning for browsers who don't support localStorage offline"
Firefox won't let you save localStorage via the `file:///` protocol so give a warning. We can do something ugly for now like an alert:

[code]

[2012-02-18 18:28] OscarGodson opened #11 "Verify save and open events work"

[2012-02-18 18:30] OscarGodson opened #12 "Event need to be passed in as the first parameter of the callback"
This should work (note the `e` var): `function(e){ console.log(e); };`

Will need tests as well

[2012-02-18 18:59] OscarGodson opened #13 "Scrollbar is hidden if previewer theme adds padding to the wrapper"
It has to do with `_getStyle()` returning `0px` even tho it's _not_ `0px`. If i set the padding with JS like `this.previewer.style.padding = '10px'` then `_getStyle()` magically works, but if it's set with CSS it doesn't. It's also strange because i can get the padding of any other element just fine.

[2012-02-18 19:00] OscarGodson opened #14 "Have Mou style formatting of Markdown in edit mode"
This is a "would be nice to have" feature. Maybe 2.0 feature.

[2012-02-18 19:01] OscarGodson opened #15 "Support key shortcuts"
Key commands should allow for preview and edit modes.

Also, the key commands should only work if the editor is in focus.

[2012-02-18 19:35] #2 closed, assigned to dadambickford

[2012-02-18 19:43] dadambickford opened #16 "API call to change themes on the fly"
have an API call to swap out themes on the fly.

[2012-02-21 01:07] OscarGodson opened #17 "Firefox has a 1px space up top"
![firefox bug](https://img.skitch.com/20120221-b17gi64huhfeftii14319m6qf3.png)

[2012-02-21 01:12] OscarGodson commented on #13
I have a shitty partial fix where I have added:

[code]

But it should use `_getStyle()` and `padding-left`, `padding-right`, `padding-top`, and `padding-bottom`, but for some reason the computed style is saying 0px.

[2012-02-21 01:27] OscarGodson opened #18 "Make a gh-page"

[2012-02-21 01:28] OscarGodson opened #19 "Write a user's manual"
In the wiki

[2012-02-21 01:40] #17 closed, assigned to dadambickford

[2012-02-21 01:47] OscarGodson commented on #5
One issue is that the utilbar goes away when hovering cc: @dadambickford

One possible fix is for us to use mouseenter and mouseleave on supported browsers (IE is one) and itll work like :hover.

[2012-02-21 01:49] #7 closed, assigned to nobody

[2012-02-21 02:01] #11 closed, assigned to dadambickford

[2012-02-21 02:09] dadambickford commented on #8
could not reproduce.

[2012-02-21 02:09] #8 closed, assigned to nobody

[2012-02-21 07:36] OscarGodson opened #20 "Support data-filename"
You should be able to open a file via the `data-` attribute like:

[code]

Currently it'll make a file called "my-editor" if no different `.open()` is used.

[2012-02-21 07:39] OscarGodson opened #21 "Support data-N attributes for all settings"
Allow settings to be set via `data-N` attributes. Example:

[code]

[2012-02-21 07:41] OscarGodson commented on #16
Might be better to change something via `.options()` then call something like `.reload()`.

[2012-02-21 07:43] OscarGodson opened #22 "Get fullscreen working correctly in Firefox"
It's totally fucked right now

[2012-02-21 19:08] #9 closed, assigned to nobody

[2012-02-23 06:19] OscarGodson commented on #18
Has been done since 59c64aa7a70d51386ef1285b9e03bcf215dd51ca

[2012-02-23 06:19] #18 closed, assigned to nobody

[2012-02-23 06:21] OscarGodson opened #23 "Have a pretty loader"
Currently you get a flash of unstyledness while the editor loads. There should be a nice prettier loader.

[2012-02-23 06:29] OscarGodson commented on #10
Also, add it to the docs too.

[2012-02-24 00:32] OscarGodson opened #24 "Write some fucking tests"
Gots to be done. Will probably use @foobarfighter 's https://github.com/foobarfighter/foounit

[2012-02-24 06:50] OscarGodson opened #25 "Don't lose scroll position switching between edit/preview"
Currently if you are editing and you scroll down, click preview, then go back, your scroll position is lost. On previewing we need to save the scroll position and recover it when editing again. Because we don't know what kind of edits were made, preview mode should always jump back to the top, but edit should be saved... i think, unless anyone has any objections.

[2012-02-24 08:22] OscarGodson opened #26 "Docs don't have the .remove(name) method"
Need to add to the index.html doc and the Markdown doc (don't forget to add it to the table of contents of both) and add an example. Bump version to 0.0.2 once it's done.

[2012-02-24 18:23] OscarGodson opened #27 "iOS Support"
We need to make the editor work on mobile devices, but for 1.0 just iOS5 for now. If more, awesome. I'm sure it'd mostly be CSS with some minor JS checks for touch support.

Maybe even on focus the editor fills the phone so it's just the editor and keyboard.

[2012-02-25 02:17] OscarGodson opened #28 "Add .import(name,content)"
We should have a `.import()` method that takes a string and is a proxy function of basically:

[code]

[2012-02-25 02:19] OscarGodson opened #29 "Add .rename(current,replacement)"
Add a `.rename()` method which will take a file name as the first param, and then the new name as the 2nd param. It'll just rename the key in the localStorage object.

[2012-02-25 02:29] OscarGodson opened #30 "Allow custom .save() routes and other things"
The `.save()` method should be configurable  in `.options()` with custom API routes so that `.save()` doesn't only save to localStorage but also some external API.

Something like...

[code]

Above sets up 4 custom routes for all your CRUD commands. It also turns off the default saving on keyup and turns on saveInterval which will automatically `.save()` every half a second while focused on the ed

[2012-02-25 02:36] OscarGodson opened #31 "Remove localStorage cache every N days/weeks/months"
If we don't auto clear the cache in LS shit's gonna fill up at some point (since we don't know what else is being saved on the domain; could be images for example) and then the user is going to get hit with errors or will no longer have localStorage saving their work in progress posts.

This should be configurabe in options so that domains that fill up LS can either disabled LS with `clearCache:0`

[2012-02-25 18:09] OscarGodson opened #32 "Fullscreen in non-supported browsers"
While not entirely important, it'd be great to still support fullscreen by doing "fullwindow" rather true fullscreen. i.e. the editor would fill the window and act just as if it would in fullscreen in supported browsers.

[2012-02-25 19:01] techwraith commented on #30
So, this will take a little more work, but my preference would be to have the save method use local storage until the create method or read method is used. Basically, I want to be able to store my drafts in local storage before "publishing" my post.

[2012-02-25 19:24] OscarGodson commented on #30
@Techwraith I'll think about how/if i'd implement that natively. #31 relates to this. I could have it accept a function and in that function you could do something such as `.on('create',function(){ localStorage['epiceditor'].clear() })`. I'd have to implement a "status" for each file and this is just an editor so nothing is technically a draft, it's just the current state of the file.

Any ideas o

[2012-02-25 19:30] OscarGodson commented on #30
Some more thinking... this might be a great use case for a EE plugin. The plugin would enable draft and published and clear the cache once a file was published.

[2012-02-25 19:32] OscarGodson opened #33 "EE Packages"
I want to enable 3rd party devs to easily script EE not just with the normal public API, but through packages or plugins. Ideas?

I have this idea currently:

[code]

Above creates a `parser` package so you could replace Markdown parser we use, or in this case, add wiki support. There could be other types like `plugin` or `extension` or some other name that is a general extension of EE. By default

[2012-02-25 19:35] techwraith commented on #30
I think the best way to handle this is to have the editor emit events for each action. Each callback would be passed the page data.

[code]

That way you don't even have to worry about the config options, the user can just worry about that themselves. I think this fits better into your vision for this editor.

[2012-02-26 07:44] #28 closed, assigned to nobody

[2012-02-26 07:44] #29 closed, assigned to nobody

[2012-02-26 07:56] OscarGodson commented on #26
Already bumped version in last commit, but forgot again to add the docs for this.

[2012-02-28 09:03] OscarGodson commented on #22
It appears to be an issue with the API wrapper we're using: http://johndyer.name/native-fullscreen-javascript-api-plus-jquery-plugin/

The `fsElement.addEventListener(fullScreenApi.fullScreenEventName,function(){` is never getting called, therefore, fullscreen never really gets setup

[2012-02-28 09:56] OscarGodson commented on #22
Fullscreen is unsupported if you are using alphanumeric keys, well, it'll work you just get a massive PRESS ESC TO EXIT FULLSCREEN MODE constantly. I'm closing this and adding this to the list of unsupported browsers until Firefox gets its shit together.

[2012-02-28 09:56] #22 closed, assigned to nobody

[2012-02-28 09:58] OscarGodson commented on #32
This now doesn't only include IE, but Firefox too see #22 which means this is being bumped to the public alpha milestone

[2012-02-28 10:20] OscarGodson commented on #26
Fixed

[2012-02-28 10:20] #26 closed, assigned to dadambickford

[2012-02-28 18:30] OscarGodson commented on #22
The creator of the wrapper pointed out FF needs to have the event attached to the document, not the element: https://gist.github.com/9ace07aa0c7e532f9311

[2012-02-29 02:25] OscarGodson commented on #32
Also we'll wanna see if we can trigger IE's fullscreen programmaticall. Users can access fullscreen via <kbd>F11</kbd>, so if possible we'd do the same thing we'd do for other browsers like Firefox by making the `<iframe>` 100% width and height of the window, but then trigger <kbd>F11</kbd>, if possible. If not we should probably show a note to IE users that they can make it more fullscreen by pre

[2012-03-01 02:18] OscarGodson opened #34 "Flash of unstyled preview"
Super annoying. On each page load when you switch to preview you'll see a flash of CSS on a remote server (not locally since it loads too fast) as you can see on the github page. To fix just preload the CSS with the private `_insertCSSLink()` function like i use in the `preview()` method. The `preview()` method should check if it's loaded or not anyways so it shouldn't break anything.

[2012-03-01 09:12] OscarGodson commented on #34
Got this one. Wanted to get this one in with the key shortcuts. It'll be in the shortcuts branch tonight @dadambickford

[2012-03-01 09:58] OscarGodson commented on #15
Currently in the shortcuts branch we support <kbd>alt+e</kbd> for edit, <kbd>alt+p</kbd> for preview, and <kbd>alt+f</kbd> for fullscreen. There's a bug in Firefox (not us) where <kbd>alt+e</kbd> will not fire on FF for Mac. I reported it to them here: https://bugzilla.mozilla.org/show_bug.cgi?id=731941

Will merge into master and gh-pages after @dadambickford checks in IE9

[2012-03-01 18:28] dadambickford commented on #15
<kbd>alt+e</kbd> fires in IE9, but the `requestValue = false` which is supposed to act like `preventDefault()`, is not blocking the native <kbd>alt+e</kbd> action, which drops down the "Edit" menu.

[2012-03-03 03:34] OscarGodson opened #35 "Edit/Preview icons should toggle"
There should be a specific edit button and a specific preview button. When you click on one it should toggle between the two depending on which mode you're in.

[2012-03-03 03:54] OscarGodson commented on #5
Looks like all the issues spawn from this error:

[code]

It's saying this line:

[code]

[2012-03-03 16:23] OscarGodson commented on #5
Disregard the comment above about the localStorage stuff. It seems this has to do with #10 not really a bug.

Along with the the utilbar going away while hovering, the other issue i see is that preview mode doesn't fill up the editor area.

[2012-03-03 16:38] OscarGodson commented on #15
We should also allow devs to override the shortcuts with their own. Maybe like:

[code]

We'd need to slightly change how we check for alt press by using `var isAlt` again and remove the `e.altKey` code (don't need both and if we want it customizable then we cant use `e.altKey`)

[2012-03-03 17:35] #5 closed, assigned to dadambickford

[2012-03-03 17:58] OscarGodson opened #36 "2px smaller preview in IE9"
I thought this was fixed with this code:
https://github.com/OscarGodson/EpicEditor/blob/master/epiceditor.js#L343-346

And it's working here when i was testing it:
http://kneedeepincode.com/epiceditor

but on our gh-page its like the `2px` is never getting added. On the kneedeepincode page I added a breakpoint inside the if and checked the height and it was like `329` (right) and then added anothe

[2012-03-03 18:03] OscarGodson opened #37 "The utilbar hides when hovering over it"
See: #5 for details.

[2012-03-03 18:03] OscarGodson commented on #5
I've made a label now for the rest of the IE9 stuff since it's officially working fine, just some minor cosmetic stuff.

[2012-03-03 20:13] OscarGodson commented on #13
Moving this to public beta since this only affects theming

[2012-03-04 05:50] #15 closed, assigned to dadambickford

[2012-03-04 07:11] OscarGodson commented on #34
Fixed when shortcut code was merged in.

[2012-03-04 07:11] #34 closed, assigned to OscarGodson

[2012-03-04 08:04] OscarGodson commented on #19
Done for the most part: https://github.com/OscarGodson/EpicEditor/wiki/User's-Manual

[2012-03-04 08:04] #19 closed, assigned to nobody

[2012-03-05 19:34] OscarGodson opened #39 "Remember indentation"
This is super useful for writing code. I.e.

If i type (where the pipe is the cursor):

[code]

and press enter it should appear in line with the `alert()` like

[code]

[2012-03-06 18:12] OscarGodson opened #41 "Optional buttons for common styling"
Sort of like a WYSIWYG, have buttons for bold, italics, links, etc. see GitHubs wiki editor for an example. This should be off by default tho.

[2012-03-07 06:40] OscarGodson opened #43 "EpicEditor Icon/Logo"
@sebnitu is working on it, but making a stub to discuss whenever it's finished.

[2012-03-08 07:37] sebnitu commented on #43
Here is the first concept I got put together. Let me know what you think :)

![EpicEditor Logo](http://f.cl.ly/items/3h1z0E2q3o0l34302h0q/EpicEditor-branding.jpg)
http://cl.ly/EraP

[2012-03-08 07:47] OscarGodson commented on #43
...wow. That's insanely cool. Wasn't sure what to expect, but while writing this message i've opened it 3 times just to see it again :P

I'll use this as is unless you wanted to tweak it anymore? If not I'll work it into the README and index.html docs (unless of course you wanted to for some reason).

I'll make sure to give you proper credit in the docs and some tweets tomorrow too when it's not d

[2012-03-08 07:49] OscarGodson commented on #43
I'd also love to use one of those yellow textured backgrounds for the docs. In your .ai/.psd could you give me a tile? It's sexy and i think I can work it in haha

[2012-03-08 16:15] mxriverlynn commented on #43
<3

[2012-03-08 16:41] j-hernandez commented on #43
Logo status: Superdope.

[2012-03-08 17:25] sebnitu commented on #43
Sick dude, glad you guys like it :D

I'd like to play with it just a little more but depends on how soon you need it by. I probably won't get more time to work on it till this weekend so if you need to get this up before then, no worries.

Here are some links to the AI and PSD files. You should be able to grab the texture from the PSD but let me know if you have trouble.

AI: http://cl.ly/ErfN
PSD

[2012-03-08 17:52] OscarGodson commented on #43
@sebnitu Sounds good to me :) I can't really work on EE until the weekend either.

[2012-03-08 20:16] johnmdonahue commented on #43
Badass.

[2012-03-09 05:33] OscarGodson opened #46 "Catch the cmd/ctrl+s event in the iframe"
People hit cmd/ctrl+s out of habit frequently. While focused in the editor we should catch and destroy the event.

[2012-03-09 05:35] OscarGodson opened #47 "Change out saving on keypress to on an interval"
Add an option for performance if it's an issue, but by default save every `100ms` rather than on keypress. This will also fix issues with copy and pasting using a right click context menu or the file menu and not your keyboard.

Filing as a bug since it's "technically" a bug that it wont save when you copy and paste and nothing shows up.

[2012-03-09 05:37] OscarGodson opened #48 "Revamp of theming"
Putting a stub here because i don't really like the current theming style, but im also not entirely sure how to make it better.

[2012-03-09 05:43] OscarGodson commented on #47
Have this working already locally

[2012-03-09 06:01] samhowat commented on #43
I'm stoked to see this editor come together, and I love the logo!

[2012-03-09 16:37] OscarGodson opened #49 "GitHub Theme Doesn't Match Exactly"
I'd like a direct port.  I know @dadambickford  eye balled it last time so we could get public alpha out, but I'd like to clean it up. I did some minor fixing in caea398b697ee8450fb9846e55ef9a3b14514033

[2012-03-09 23:00] RaymondCrandall commented on #47
Would you also want to update the previewer at the same time the interval happened, that way you could see it as well? (is it the previewer you would be updating?)

[2012-03-09 23:03] OscarGodson commented on #47
The previewer updates in realtime if you want already (see fullscreen mode). To save on CPU, you have to tell EE that you want it to update the previewer "live", but that's already implemented. This one is already finished, but it's not merged into master yet. It's in the 0.1.0 branch tho... i should tag these...

[2012-03-09 23:07] RaymondCrandall commented on #47
I noticed you said you already fixed it, so I figured it would be a good exercise while I familiarize myself with the project. I could do something else though.

[2012-03-09 23:09] OscarGodson commented on #47
Check out my last commit in 0.1.0. You can look to familiarize if you want :) also feedback on the commit is appreciated too

[2012-03-10 00:08] OscarGodson commented on #47
Yeah go ahead and commit in the commit feedback or here :)

On Mar 9, 2012, at 3:53 PM, Raymond Crandall
reply@reply.github.com
wrote:

[2012-03-10 01:49] RaymondCrandall opened #50 "Full screen button on utilbar doesn't show up in FF3 FF10 IE9 on Win7"
Not sure if FF3 is important now, but I updated to 10 and it had the same problem. I also checked in IE9, and the same problem was happening. Only the button to preview is present, but the fullscreen button is not being rendered properly.

[2012-03-10 03:22] OscarGodson commented on #50
I'm hiding it from browsers that don't support it see #32. As for Firefox and why it's not using native fullscreen see #22. Faux fullscreen is the last ticket in the alpha and it's the thing I'm workin on this weekend and it'll close out #32.  I'll keep this open as a reminder to unhide the button after.

[2012-03-10 04:50] OscarGodson opened #51 "Scrollbar in Firefox is ugly and in a weird place and missing..."
Jesus, I hate Firefox:

![firefox scrollbar](https://img.skitch.com/20120310-n3dmt78n9985krb5y7wu5y9pkq.png)

And in the preview you can't see it.

![missing scrollbar in firefox](https://img.skitch.com/20120310-xefmmdrfs7u34xmit6praunp5s.png)

[2012-03-11 06:22] OscarGodson commented on #32
Making progress:

**Firefox**:
![firefox fullscreen](https://img.skitch.com/20120311-x9u3pp4y57enh2agfbd97knxk5.png)

It's pretty buggy right now unfortunately. There's still some kinks I wanna work out before pushing anything to our 0.1.0 branch, but in case anyone is following this, it's getting close.

[2012-03-11 21:03] OscarGodson opened #52 "Horizontal Fullscreen"
If you have a monitor that's taller than it is wide, we should flip EE's duel screens to fill up space better.

[2012-03-12 19:13] OscarGodson opened #54 "Shortcuts don't work in Opera"
At least on OS X, but check Windows too. No idea why.

[2012-03-12 19:34] dadambickford commented on #32
Looking good! I was just testing out that new pull request from @jwmcpeak and wanted to make sure you were aware of whats goin on with the fullscreen in safari. It's supported but has a big wonky white bar in the center, and wouldn't let me input any text.

[2012-03-12 19:40] OscarGodson commented on #32
@dadambickford yep, it's on the list, see: #6

I had assigned it to you awhile ago since I figure it's more of a CSS issue in the JS where I setup all the styles for fullscreen. The 0.1.0 branch has fullscreen working now (but you can't close fullscreen yet! Have to refresh) if you wanna take a stab at getting it to work right go ahead. It's assigned to you so I wont touch it unless you assign it

[2012-03-12 22:43] dadambickford opened #55 "Fullscreen preview display scrolling issue"
Right now when you copy our README.md into EE, and go to fullscreen display, it doesn't want to let you scroll all the way down the preview half, cutting off quite a bit of the preview. Could be related to the HTML code that is in our md file.

[2012-03-12 22:45] OscarGodson commented on #55
Also to note, when trying a large pure MD file it works fine (or so it seems...)

[2012-03-13 05:52] OscarGodson opened #56 "Don't scroll parent window when focused on editor"
Lets say you're scrolling through a large MD file, once you hit the bottom the entire page will start scrolling, not just the iframe. AFAIK you can't prevent scrolling, however, you can add a `document.body.overflow = 'hidden'` and it will make the page not scrollable.

We'll wanna probably see if it looks ok to do that, but this will make it so as long as you're focused on the editor (mouse hover

[2012-03-13 19:22] OscarGodson commented on #43
I'd like to do what GitHub does with the logo too when you right click. (go ahead, right click on the GitHub logo on the top left).

cc: @sebnitu

[2012-03-15 15:10] OscarGodson opened #57 "Implement the Markdown logo somewhere"
Might be nice to implement the markdown logo somewhere.

http://dcurt.is/the-markdown-mark

[2012-03-17 04:28] OscarGodson commented on #55
This was fixed when I switched EE to Marked (thank god). Our README now works fine

[2012-03-17 15:42] OscarGodson commented on #46
You said you got this working on Windows, but I'll have to get it working on Mac which is gonna be a bitch:

http://stackoverflow.com/a/3922353/144833

[2012-03-18 20:55] dadambickford commented on #6
Also just noticed, in safari, that if you try going to fullscreen, and then revert back. all of the sudden the util bar will not show up, and even the keyboard shortcuts will not change between preview/editor anymore.

[2012-03-18 20:56] OscarGodson commented on #6
Yeah, the utilbar and stuff is still broken going back on all browsers. If you can just get it looking ok in fullscreen all the reverting will look fine once im done with it unless you want to take a stab at the reverting of styles.

[2012-03-18 20:57] dadambickford commented on #6
alright, yeah i was going to try and get this one knocked out today. we'll see how it goes.

[2012-03-19 02:46] OscarGodson commented on #6
Now this happens _after_ i close fullscreen once. To get true fullscreen i have to totally quit Safari and reopen it. WTF?!

![safari is fucked](https://img.skitch.com/20120319-8sdn5f9wiqbap86main49bsrwi.png)

[2012-03-19 04:39] OscarGodson opened #59 "Triple Iframe's Instead of a Single Wrapper One"
<h3>Overview</h3>

This has been bugging me and it's just something I didn't realize would be such an issue when i began. Also, having talked with the team at work who works on Etherpad I realized some flaws in my original design. The "chrome", editor and the previewer should be different `<iframes>`. This way CSS and JS is separated and will cause less of a chance of breaking.

<h3>The problems</

[2012-03-19 04:48] OscarGodson commented on #48
After fixing #59 we can get rid of the prepending of the namespace and state (edit or preview) in our styles so we don't have to worry about styles conflicting. We could have this structure:

[code]

Then the CSS could be swapped out from like:

[code]

to simply:

[code]

This would make it easier for everyone.

[2012-03-19 05:33] dadambickford commented on #59
this was a comment on reddit - "Are the editor and preview DOMs totally separate? Outside of any wrapper? If so, this could be very useful, since it would be flexible enough for me to display the preview section in any way I wanted.
Otherwise if it's bundled together, I don't think I would ever use it in practice."

obviously were not going to build it to cater every single complaint, but it sound

[2012-03-19 10:05] OscarGodson commented on #59
I've made a lot of progress tonight on this. I've added the three iframes, and it looks just like it did before but now you get three CSS files: base, editor, and previewer. The base has the utilbar stuff because it floats above both the editor and previewer, and the editor for example just has:

![editor.css](https://img.skitch.com/20120319-pte2iianp7nee86j5pwp6ud2s.png)

It's awesome! I wish I w

[2012-03-19 17:45] johnmdonahue commented on #59
This sounds like a great idea! I'm all for it.

What branch are you working on this? It would be awesome if we could work on this change along side the build update.

[2012-03-19 17:50] OscarGodson commented on #59
I'm working in 0.1.0 for it, but when I'm done I can cherry pick this
commit into your branch if you want. After this I'm back to
(hopefully) finally finishing fullscreen which should be helped a lot
from this

On Mar 19, 2012, at 10:45 AM, John Donahue
reply@reply.github.com
wrote:

[2012-03-19 18:43] johnmdonahue commented on #30
Just wanted to throw out a few ideas on the file storage, thinking out loud:
1. Would it make sense to provide a method to fetch any or all file objects in a given namespace without loading them. A user could throw them into a dropdown for easy jumping between files:

[code]
1. As mentioned, it would be awesome to build with plugins in mind. Save/sync to Dropbox or GitHub for instance would be inc

[2012-03-20 06:36] OscarGodson commented on #59
Super close to being done. FF (of course FF) is having some issues with the localStorage and reading from the contenteditable `<body>`, but otherwise all 4 of those bugs above are fixed! This is awesome and themes are so much cleaner. Gotta work out the FF bugs and will push this up.

[2012-03-20 07:17] johnmdonahue commented on #59
Awesome man. Can't wait to check it out!

[2012-03-21 02:56] OscarGodson commented on #59
All 4 of those are now fixed. (WHEE!) There's an issue with the iframe's fullscreen (it's a small issue, but good enough to push). Pull down 0.1.0 and let me know any other bugs other than fullscreen shizzit

cc: @dadambickford @johnmdonahue

[2012-03-21 04:02] dadambickford commented on #59
I checked it out, and as far as i can tell, functionality is great. i noticed some weird differences in how the markdown renders in different browsers though, as you can see [here](http://i.imgur.com/XxvVY.jpg) and [here](http://i.imgur.com/gn5BO.jpg).

couple minor changes I made in 0.1.0, I updated the footer in the index and readme to read that we were now using Marked and to recognize chris je

[2012-03-21 05:41] OscarGodson commented on #59
Oh god... Firefox looks SUPER bad on mine. Like, terrible. It also takes a full 1-2 seconds to render. It's either Marked or my `_getText` / `_setText` which is a shim for Firefox. Maybe you can mess with it or test it?

Also, the fullscreen issue acting weird i figured out, but now the button doesn't work (see the commented out `//_goFullscreen()`). Balls. Gotta figure that out. Wanna try?

The t

[2012-03-21 05:45] OscarGodson commented on #59
Nevermind about the rendering time. Thats because when i copy and pasted I did it from Chrome to Firefox and it copied all the HTML along with it so it was rendering 2 HTML docs at once :)

[2012-03-21 15:32] OscarGodson commented on #59
@dadambickford Hey, got fullscreen not borked again. Just had to move my `webkitRequestFullscreen()` call before I asked for the `window` width. There's still a _small_ issue in native fullscreen tho where you can scroll left to right just a little bit and so in some cases words are slightly clipped

![example](https://img.skitch.com/20120321-myxqn6iex64ag1h5h9pq2n55i1.png)

Should be something sm

[2012-03-21 18:16] johnmdonahue commented on #59
[code]

I noticed this while working on the build branch prior to the latest commits but am still seeing it. Is anyone else seeing this behavior or am I doing something wrong here? (BTW: No errors in the console)

### After exiting full screen on Chrome:

![](http://f.cl.ly/items/1B1P050z1z032b3n0A1P/Screen%20Shot%202012-03-21%20at%2010.49.11%20AM.png)

### After exiting full screen on Safari

It

[2012-03-21 19:37] OscarGodson commented on #59
Nope. I was having lots of issues with closing fullscreen. Ive just finally in the last commit gotten fullscreen (for the most part) working again with the new iframe layout stuff.

Im going to try to now get fullscreen to close correctly. I wouldn't have ever gotten in the last iteration with one iframe. It's still using the same closing fullscreen code as I was using before the new iframe stuff,

[2012-03-21 19:45] johnmdonahue commented on #59
Ahh gotcha. Looking great on my end otherwise. Thanks!

[2012-03-22 06:20] OscarGodson opened #60 "Key shortcuts don't work in FF back to back [UPDATED]"
To reproduce:
1. Press cmd/ctrl+p to preview
2. Press cmd/ctrl+o to edit (doesnt work in Firefox!)
3. Click on the preview iframe press cmd/ctrl+o again (now it works)

Chrome works fine.

[2012-03-22 06:47] OscarGodson opened #61 "If you click the fullscreen icon you can't "esc" out in Firefox until you focus on an iframe"
To reproduce:
1. Click the fullscreen button (not the key shortcut)
2. Press esc (no works!)
3. Click on an iframe
4. Press esc again (works now)

[2012-03-22 07:28] OscarGodson opened #62 "Resizing in faux fullscreen doesn't work"
This was in there, then removed, and now I need to put it back in. It was commented out because it needs to be reworked due to #59

[2012-03-22 07:32] OscarGodson opened #63 "Clicking the fullscreen icon in preview mode, closing FS, then clicking the edit button wont work first time"
To reproduce:
1. Click the preview icon
2. Go into fullscreen
3. Exit fullscreen
4. Click the edit button (wont work)
5. Click it again (will work)

Bug appears in FF and Chrome

Most likely has to do with `self.eeState` losing track of if it's in preview or edit mode.

[2012-03-22 15:57] OscarGodson opened #64 "Issue's with list items with the GitHub theme"
I only briefly looked at it, but whats strange is that the `<li>` styles seem to match exactly between GitHub and EE, but they have more spacing. Line height, margins, and padding all seemed the same.

_EE_:

![ee](https://img.skitch.com/20120322-tpex7wsd1thr467p2es6uc66m1.png)

_GitHub_:

![github](https://img.skitch.com/20120322-x22b8ewgwd2a3qdecew4ne868k.png)

Also, floating happens with this:

[2012-03-22 18:11] johnmdonahue commented on #59
Just a heads up, I am seeing the following on full screen in Safari. I haven't had a chance to look into it, just wanted to put it on the radar. Otherwise looking good on my end.

![](http://f.cl.ly/items/3f283K090L0V3l3K0M0H/Screen%20Shot%202012-03-22%20at%2010.46.06%20AM.png)

[2012-03-22 18:38] OscarGodson commented on #59
@johnmdonahue yeah, thats an old issue. #6 actually. Me and @dadambickford couldn't figure it out :\

[2012-03-24 03:32] OscarGodson opened #65 "Add pretty "Press esc to close" message in faux fullscreen"
Like Firefox does natively, but with HTML/CSS

[2012-03-24 03:36] OscarGodson opened #66 "In Firefox the scrollbars get hidden when scrolling to the bottom"
To fix we need to change to `innerHeight` rather than `outerHeight`, BUT Chrome will break if you use `innerHeight` so we need to check `nativeFs` and swap out the `var` we use to use the Firefox (IE9 too, maybe?) to use `inner` rather than `outer`

[2012-03-24 06:16] OscarGodson commented on #32
Working in FF and Chrome now. IE9 is the last one and we can finally close this sucker!

[2012-03-24 06:18] #62 closed, assigned to OscarGodson

[2012-03-24 06:19] #59 closed, assigned to OscarGodson

[2012-03-24 06:19] #55 closed, assigned to OscarGodson

[2012-03-24 06:20] OscarGodson commented on #51
Fixed after #59 was implemented.

[2012-03-24 06:20] #51 closed, assigned to dadambickford

[2012-03-24 06:21] OscarGodson commented on #50
The button will no longer be hidden in all browsers.

**Note:** this is in the 0.1.0 branch, and not yet in master, but feel free to test out 0.1.0 until it's released which has this fixed.

[2012-03-24 06:21] #50 closed, assigned to OscarGodson

[2012-03-24 06:22] OscarGodson commented on #49
99% of this is done except from #64 so I'm gonna close this.

[2012-03-24 06:22] #49 closed, assigned to dadambickford

[2012-03-24 06:24] OscarGodson commented on #48
Thanks to #59 theming now works like above. Base, preview, and editor are all theme sets you can have and they will never conflict with each other. Any other specific type of theming update should go into a new ticket.

[2012-03-24 06:24] #48 closed, assigned to nobody

[2012-03-24 06:25] #47 closed, assigned to OscarGodson

[2012-03-24 06:25] OscarGodson commented on #25
Fixed thanks to #59

[2012-03-24 06:25] #25 closed, assigned to dadambickford

[2012-03-24 06:26] OscarGodson commented on #13
This was finally fixed thanks, again, to #59

[2012-03-24 06:26] #13 closed, assigned to nobody

[2012-03-24 06:28] #66 closed, assigned to nobody

[2012-03-24 06:30] OscarGodson opened #67 "Need to update theming docs"
It's completely different now, need to update all this.

[2012-03-25 04:39] OscarGodson opened #68 "Utilbar pops up on scrolling"
## First:

Util bar shows up when you hit the bottom of the editor and keep typing
### To reproduce:
1. Fill up the editor with text
2. Once it's full, go to the last line and type until the text wraps making the editor scroll down to show the new line
3. The util bar now shows up.
## Second:

Simple scrolling makes the util bar appear.
## To fix:

I don't know the fix for sure, but I assume the b

[2012-03-26 04:09] aleemb opened #69 "Parsing/Rendering Issue"
The editor doesn't work for it's own [readme.md](https://raw.github.com/OscarGodson/EpicEditor/master/README.md). After pasting that file into the editor, it doesn't allow scrolling below the **constructor** section. In some places the double-asterisk are not being converted to bold for the same file.

[2012-03-26 04:45] OscarGodson commented on #69
Yep. This was because in the alpha/prototype we used a port GitHub Flavored MD port of Showdown.js by @isaacs which we tested out and it did fail miserably unfortunately when trying to handle Markdown with HTML. We've switched to Marked by @chjj (https://github.com/chjj/marked) and it appears to be working a lot better and our README no long breaks it, but we need to do more extensive testing to b

[2012-03-26 04:45] #69 closed, assigned to nobody

[2012-03-28 15:41] RaymondCrandall commented on #36
If you use points (pt) instead of pixels for the dimensions I'm pretty sure IE doesn't have trouble rendering on that measurement system.

[2012-03-28 22:19] OscarGodson commented on #36
Might be a hack. You could do a pull request to test. We for sure want to
keep it for px everywhere else since pt is meant just for print, but if the
hack fixes it we could wrap it in an _isIE() function, or we could figure
out the actual root of the issue. I personally dont care how we hack it to
work for now.

I also don't know if this is still an issue after #59 which is something
else to check

[2012-04-11 09:16] davidshen84 opened #71 "Cannot read property 'contentDocument' of null"
[code]

If I ran the above code, I got the 'Cannot read property **"contentDocument"** of null' error. If the element used to initialize the editor is attached to the page document already, this error will not occur. Is it possible to fix this?

[2012-04-11 15:08] OscarGodson commented on #71
Looks like you're using jQuery? Above isn't attaching it to the DOM at all and most likely why it's freaking out. You're trying to do a bunch of crazy stuff in memory including modifying `<iframe>`s which probably has security issues too.

You need to actually append that DOM fragment that's in memory and then give EE a reference to that DOM element. I believe this should work (although I haven't

[2012-04-12 03:08] davidshen84 commented on #71
Sure, I know the above code would work. I just want to know if putting everything in the memory before attaching to a DOM could work. Please close this issue if you want to. :)

[2012-04-12 03:08] #71 closed, assigned to nobody

[2012-04-12 03:30] OscarGodson commented on #71
There two different thing. The jQuery fragment is meant for jQuery
manipulation. You should handle you jQuery object separate from
EpicEditor. Also, just calling new EpicEditor() wont add it to the DOM
if that's what you're worried about. Wait until you're ready then call
load()

[2012-04-13 09:52] davidshen84 opened #72 "The 'this' object does not refer to the editor"
[code]

The _this_ object referred to the HTML document that EE created in the IFrame. In this context, it should refer to the editor itself.

[2012-04-13 15:41] OscarGodson commented on #72
You are totally right. I fixed this in our `0.1.0` branch.

`0.0.3`: https://github.com/OscarGodson/EpicEditor/blob/master/epiceditor.js#L761
`0.1.0`: https://github.com/OscarGodson/EpicEditor/blob/0.1.0-build-refactor/src/editor.js#L930

Looks like you are doing some serious work on EE! Thats great. If so you should try checking out the `0.1.0-build-refactor` branch and let me know if you need he

[2012-04-13 15:41] #72 closed, assigned to nobody

[2012-04-16 06:00] #43 closed, assigned to nobody

[2012-04-18 03:31] myguidingstar-zz opened #73 "Don't work with <input> and <text-area>"
This seems to work with div only.
And can anybody show me how to include epiceditor to a form so that its content can be sent via POST?

[2012-04-18 04:16] OscarGodson commented on #73
I'm not really sure what you mean exactly about working with an `<input>` or `<textarea>`? Could you explain? It'll work in any containing element (you could put it in a `<span>` if you really wanted), but there's no way any editor could work in an input so I'm thinking you might mean something else.

So, `0.0.3` is finished and `0.1.0` is _almost_ complete. I'm mainly writing tests and need to fi

[2012-04-18 07:04] myguidingstar-zz commented on #73
Well, stuff such as <input id="something" ...> don't work. Anyway, I want an editor that can be embed to HTML forms' textareas (a working form combined by several input fields with not much further work), so I made some changes to pagedown: https://github.com/myguidingstar/pagedown/tree/master/demo/jquery
Even though, I still prefer epiceditor's clean look.

[2012-04-18 07:19] OscarGodson commented on #73
I think you might be confused at what EpicEditor is. EpicEditor is purely a UI for an editor. You can't embed an editor into an input. EpicEditor is a series of iframes embedded in each other and stores values of those iframes in localStorage and gives you a set of APIs to get the data to store server side. Pagedown is a markdown converter. EE uses Marked for converting, but EE isn't a MD converte

[2012-04-18 07:31] OscarGodson commented on #73
Also FWIW you can't embed an editor like this into a textarea. You can't display HTML in a textarea, it'll just be text. Hopefully that makes sense... Maybe I don't fully understand you either, because I'm not sure I understand how or why youd put an editor in an input. Do you have a love sample of what you're trying to mimic with EE?

[2012-04-18 07:32] OscarGodson commented on #73
Ugh I'm on a phone so I can't edit my posts, love example should be LIVE example.

[2012-04-18 08:22] myguidingstar-zz commented on #73
Thank you for your details. Before your posts, I just think EE work by making iframes so it doesn't fit my needs.

[2012-04-18 15:02] #73 closed, assigned to nobody

[2012-04-20 19:40] hmngwy opened #75 "line break translated as double hard breaks"
when I type in

[code]

_please note there is two spaces after hello_
it's translated as

[code]

where as per [daringfireball](http://daringfireball.net/projects/markdown/syntax#p) it should produce a single hard break.

[2012-04-20 19:43] OscarGodson commented on #75
That actually matches GitHub flavored markdown, however, I agree that it seems wrong. Also, in the 0.1.0-build-refactor branch (the one that will become the 0.1.0 release) we use Marked and 2 spaces doesn't even work which is worse. I'm going to add this to the 0.1.0 milestone.

[2012-04-20 19:46] OscarGodson commented on #75
@johnmdonahue - Since you said you'd have some time this weekend, do you wanna update @chjj Marked and see if this issue is fixed? Right now doing 2 spaces like above results in _no_ `<br>`s at all and instead literally adds 2 spaces which is wrong for GitHub flavored markdown and normal markdown.

[2012-04-20 20:02] johnmdonahue commented on #75
@OscarGodson - Sure, I can take a look at this.

[2012-04-20 20:04] chjj commented on #75
GFM line breaks were something I intentionally left out of marked because I think they are unnecessary (markdown already has a great mechanism for hard line breaks).

The two trailing spaces syntax should work fine:

[code]

[2012-04-20 20:09] OscarGodson commented on #75
@chjj Strange... im seeing this:

![md](https://img.skitch.com/20120420-kduk66jukfa3gwfrg8cqb4q69j.png)

However, it might also be because of my _set/_getText shim that i did to get Firefox to mimic `innerText` in all other browsers.

thanks a lot for responding, and I totally agree with you the GFM comment.

[2012-04-20 20:17] chjj commented on #75
@OscarGodson, after looking at the _getText function, that may be it. If you can reproduce this problem with marked alone, let me know.

[2012-04-20 23:48] OscarGodson commented on #75
@johnmdonahue fuuuuuuuck. It has to do with `JSON.parse()`. If you view our localStorage string you see:

[code]

Notice the two spaces and the `\n`

However, if you do:

[code]

you get

[code]

There's two spaces, but no `\n`. It's stripping those out. Ugh.

[2012-04-20 23:59] johnmdonahue commented on #75
Haven't really looked into it but could we maybe do a quick pre-processing before passing to the renderer:

[code]

[2012-04-21 00:06] OscarGodson commented on #75
@johnmdonahue Yeah, thats what im thinking we'll have to do in `exportFile` in the `html` (`marked()`) case. I sent this in tho: https://github.com/chjj/marked/issues/45

[2012-04-21 02:27] OscarGodson opened #76 "Links are opening inside the iframe"
for example...

Markdown preview:
![ok](https://img.skitch.com/20120421-qfsext33s4qtxgehu165fu3pef.png)

After clicking that link:
![uh oh](https://img.skitch.com/20120421-ku9f1fkfeftpx26au6m5ddyaiw.png)

That's my website.

[2012-04-21 02:44] OscarGodson opened #77 "Clean up the options list"
This is ugly:

![ugly](https://img.skitch.com/20120421-jyfxd7efkirqg4drbcr4rs9fwp.png)

[2012-04-21 03:15] #76 closed, assigned to nobody

[2012-04-21 20:42] OscarGodson opened #78 "There's 2 <link> tags in the <head> of the previewer"
[code]

There should only be 1. Looks like it's because of the `id` isn't being added to one so it can't reference it.

[2012-04-23 04:37] OscarGodson opened #79 "Shouldn't be required to pick an ID of an element"
For example in the setup you'd do this to pick "`foo`" element:

[code]

However, you should be able to give it an _element_ reference as well like:

[code]

I think if you give it a string it will look for an element with an ID that matches otherwise if you give it an object (element reference) it'll use that.

[2012-04-29 18:08] #67 closed, assigned to nobody

[2012-04-29 18:10] OscarGodson commented on #67
Fixed in: 229a73f98cb05713edfaa4fa28277856a8c55885

[2012-04-29 18:12] OscarGodson commented on #24
HOLY SHIT I CAN FINALLY CLOSE THIS! 55 passing tests later, we should have full coverage of every method and event

![tests](https://img.skitch.com/20120429-t973yi41e7snm22f8nybt3ajq.png)

[2012-04-29 18:12] #24 closed, assigned to nobody

[2012-04-30 02:36] OscarGodson commented on #32
Well, this was strange. EpicEditor is working great out of the box in IE9 now.

[2012-04-30 02:36] #32 closed, assigned to nobody

[2012-04-30 02:38] #36 closed, assigned to nobody

[2012-04-30 02:45] OscarGodson opened #82 "IE9 Fullscreen shortcut is triggering menu"
This shows up:

![menu](https://img.skitch.com/20120430-rpa43q4w7p1th8iitk771bxkr2.png)

[2012-04-30 02:52] OscarGodson opened #83 "jQuery Quickstart"
Have a section in the Docs about how to get EpicEditor and jQuery to play together like in #74

[2012-04-30 03:00] OscarGodson opened #84 "jQuery Plugin"
This would be nice to have but a jQuery plugin so you could do something like:

[code]

Numerous people have thought EE was a jQuery plugin or had questions on how to get it to work with jQuery.

Other ideas appreciated!

cc: @johnmdonahue @dadambickford @myguidingstar @davidshen84

[2012-05-01 05:43] OscarGodson commented on #60
IE9 works fine as well. Only a FF bug.

[2012-05-01 14:59] OscarGodson commented on #12
These are custom events with custom data. There is no real event object so im going to use the idea in #30 which is:

[code]

[2012-05-01 14:59] #12 closed, assigned to nobody

[2012-05-01 15:42] OscarGodson opened #85 "Make a helper method for getting a file's localStorage object"
Tired of writing:

[code]

Would rather write:

[code]

This should also be a public API method so devs can get files out without affecting the GUI.

[2012-05-01 15:55] OscarGodson opened #86 "New File Schema"
See: https://gist.github.com/6f88cc583cd80ae2bbb2#gistcomment-260453

[code]

Keep in mind, developers are free to add whatever meta data they like (such as `owner`). Meta data used by EE will overwrite what they put tho (such as created/modified dates).

`importFile()` also has some params stubbed out for this as well.

[2012-05-01 15:56] OscarGodson commented on #30
The finalized API will be what @Techwraith suggested. I'm working on it now.

I made a ticket for @johnmdonahue first suggestion (#85) and 2nd awhile ago (#33) and made a ticket for the 3rd as well (#86)

[2012-05-05 01:12] OscarGodson opened #87 "Throw more intuitive errors when calling an editor that isn't loaded"
I've done this a few times:

[code]

and I get a crazy error about innerHTML of undefined. A little confusing. Might be better to do something like:

[code]

[2012-05-05 05:18] OscarGodson opened #88 "Document, rename, and make tests for eeState"
Right now `eeState` is on the prototype and it keeps track of state in an object like:

[code]

This could actually be extremely useful for a developer. It works fine as AFAIK.

The public facing API could be something simple like:

[code]

[2012-05-06 03:00] OscarGodson opened #89 "Allow override of linting is jake build"
I was trying to debug an issue and added a `debugger` which made it impossible to run `jake build` without modifying the .jslintrc file to allow `debugger` statements. It'd be nice if the `jake build` command allowed a `-f` (force) flag to override linting. Maybe it gives a warning or something in the output when you force like:

[code]

[2012-05-06 03:01] OscarGodson opened #90 "Have JSLint output the correct line numbers"
I've noticed the line numbers are usually way off. It'd be nice if it actually matched up.

[2012-05-06 04:32] johnmdonahue commented on #89
So between this and #89, maybe a less strict `.jshintrc` would make since here. I'll play with some options:
1. Make JSHint allow debug statements
2. Set up build task to allow bypass of lint for dev using a flag as suggested `-f`
3. Make build not require lint, and instead setup commit hooks to check modified vs build stamps (this would make sense for docs as well)

[2012-05-06 04:34] johnmdonahue commented on #90
The problem here is that we can't run JSHint on stand-alone non-catted files. Basically we're running JSHint only against EE core meaning a separate temp build and lint with Marked skipped. To get line numbers to match, we would need to be able to lint the entire ee.js and relax `.jshintrc` to get Marked to pass on the full build.

Another option would be to move Marked out as a standalone module

[2012-05-06 07:09] OscarGodson commented on #89
For #1 i'd rather _not_ allow it to have debug statements so that one doesn't slip into a public build. For commit hooks, that'd be fine, but do commit hooks have to be enabled for each dev or when they clone the repo do they just appear?

[2012-05-06 07:16] OscarGodson commented on #90
Hmm, I like moving Marked out... I'd like to decouple as much as possible anyway. Maybe we should leave this for when we do the modules. I just stubbed out these tickets. Not important, just nice to haves.

We can just say blocked on #33.

[2012-05-07 05:13] johnmdonahue commented on #90
Cool yeah this makes since to lump in with #33. As a side note the line numbers should only be off by 6, or the # of lines in the `intro.js` file. Is that what you're seeing? The rest of the code is in `editor.js` and those are the only 2 files catted. It should never line up to the line numbers in the built file since that's not technically were the error resides, it's in the src. Regardless this

[2012-05-07 05:15] johnmdonahue commented on #89
Yeah. Scratch that - git hooks aren't shared but it would still be a nice thing to have if just for sanity checks to build before pushing. The `nolint` flag is in place on the jakefile refactor here: https://github.com/OscarGodson/EpicEditor/tree/jakefile-cleanup

[code]

[2012-05-07 06:09] OscarGodson commented on #79
Done. Just needs tests.

[2012-05-08 05:34] #86 closed, assigned to OscarGodson

[2012-05-08 05:35] OscarGodson commented on #30
YAY! in our 0.1.0 branch.

[2012-05-08 05:35] #30 closed, assigned to OscarGodson

[2012-05-08 05:37] OscarGodson commented on #37
It would be better to fix this with JS rather than CSS as we did before if possible since every single theme would need to add this. Before we added `!important` to the button as a quick and dirty fix, but that's not going to be acceptable anymore.

[2012-05-08 05:45] OscarGodson opened #94 "Create and Update are both firing when a new file is created [regression?]"
Example:

[code]

(assuming poop and ohmah aren't files you already created.)

No idea how I missed this and in fact I had a test for this which _still_ is passing here https://github.com/OscarGodson/EpicEditor/blob/0.1.0-build-refactor/spec/spec.js#L243-251

In either case, they're acting funny. Weird, because I tested the shit out of this. It's like a regression or something. Hmm... Also strange

[2012-05-08 15:53] OscarGodson commented on #94
Simply put it in an `else if()` so that both couldn't run. No idea how it _was_ running or why the tests were passing, but this fixes it for both `importFile()` and `open()`

[2012-05-08 15:53] #94 closed, assigned to OscarGodson

[2012-05-08 15:56] OscarGodson commented on #89
Just checked it, and it works for me!

[2012-05-08 15:56] #89 closed, assigned to johnmdonahue

[2012-05-09 15:22] OscarGodson opened #96 "Anchors (not links) shouldn't open in a new tab"
If you copy and paste our README then click on the `on()` link in the Events section it'll open a new page. It's just a `#link` anchor so it shouldn't do this.

[2012-05-09 15:43] OscarGodson commented on #46
Done! Some notes:
1. `metaKey` works absolutely fine for Mac if you just need FF and WebKit support, so I just did that
2. I added `self.save()` to both `ctrl` and `cmd` shortcuts to actually save the document

[2012-05-09 15:43] #46 closed, assigned to dadambickford

[2012-05-09 17:39] johnmdonahue commented on #96
Just to clarify: This is an issue on EE? So copying and pasting anchor links into an EE instance makes the links open new tabs, correct?

If so, it looks like it's an issue with the target attr. If it seems like a big enough issue maybe could catch clicks and force the target to `_self` if the link appears to be internal (i.e. begins with "#*").

[code]

As a side note when looking at this I ran i

[2012-05-09 18:18] OscarGodson commented on #96
Yes. Ticket #76 fixed external links. I did a easy fix by adding a base tag:

Commit:
https://github.com/OscarGodson/EpicEditor/commit/989ffa11fffbec166a7258aa389a35673d087cd5

Current src:
https://github.com/OscarGodson/EpicEditor/blob/0.1.0-build-refactor/src/editor.js#L417-L420

I did this because the alternative would be to inject a script that traverses all the `<a>`s and that seemed icky and

[2012-05-09 19:12] OscarGodson commented on #96
Also @johnmdonahue I can't repro what you explained, however I might be taking the wrong steps:
1. Open the EE docs with our EE README as the content
2. Click full screen
3. Click the github link
4. After it loads github, go back to my EE tab
5. I press alt+p and it previews
6. I press alt+o and it goes back to edit

[2012-05-09 19:42] johnmdonahue commented on #96
Hmm very strange. It happens on my end every time. Here is what I am doing in Chrome(18.0.1025.168):
1. Copy https://raw.github.com/OscarGodson/EpicEditor/0.1.0-build-refactor/README.md into a local 0.1.0-build-refactor EE `index.html` editor.
2. Click on fullscreen.
3. Click on `on()` anchor in events section (Or any other link that opens a new tab)
4. Go back to EE tab
5. If not already in edit

[2012-05-09 19:49] OscarGodson commented on #96
Awh, yep. Shit, actually even just closing full screen with esc does this. This is most likely from:

https://github.com/OscarGodson/EpicEditor/blob/0.1.0-build-refactor/src/editor.js#L568

We need to remove that handler when fullscreen is closed is all (probably). I'd make a new ticket tho. This affects IE9, FF, and Chrome. And make it important ;)

[2012-05-10 06:14] OscarGodson opened #97 "Clicking external link while in full screen breaks preview/edit views"
This is a pretty important one @johnmdonahue found and reported in #96.
1. Open EE
2. In an empty doc type something
3. Open full screen
4. Close full screen (i.e. press <kbd>esc</kbd>)
5. Now, go back to the editor and start typing anything

You'll notice preview opens and you can't get it to go away.

This almost positively has to do with this line:

https://github.com/OscarGodson/EpicEditor/blo

[2012-05-10 06:19] OscarGodson opened #98 "Need to override container margins in faux fullscreen"
I noticed with our styles for `#example-1` we have a `20px` margin:

[code]

This causes this:

![screenshot](https://img.skitch.com/20120510-bwcctrjtgaj9kpdushq82wkm3b.png)

Pretty important...

[2012-05-10 06:45] #97 closed, assigned to nobody

[2012-05-10 06:46] OscarGodson commented on #96
@johnmdonahue added what you reported to ticket #97 and fixed it.

[2012-05-10 06:56] #98 closed, assigned to nobody

[2012-05-10 15:34] #79 closed, assigned to OscarGodson

[2012-05-10 20:01] johnmdonahue commented on #97
Squashing bugs like a boss. :punch:

[2012-05-10 20:53] OscarGodson commented on #97
@johnmdonahue indeed! Down to 10 as of now.

[2012-05-11 00:26] OscarGodson opened #99 "Script injection"
So, I'm not sure why someone would do this to themselves but if they did:

[code]

or like

[code]

Reported by: @superevr on twitter

Esp. the first. If you do it you can't ever view the page again without manually changing the content via the API or through localStorage.

Because this is more annoying than anything and you should be handling script injections when importing data into your DB any

[2012-05-11 06:08] OscarGodson opened #100 "Strip out HTML on pasting"
I'm constantly having to paste into some text editor, _then_ into EpicEditor. This is super annoying. We should catch `onpaste` then strip all HTML out, then paste the text. Also, it's subtle sometimes so shit just looks broken and to the end user they wont know.

[2012-05-11 06:14] OscarGodson opened #101 "GitHub Theme's tables don't match and are kinda ugly"
From: https://github.com/chjj/marked/issues/50

![tables](https://img.skitch.com/20120511-q6675an3fbysfu79ybew4ejbbx.png)

Vs:
![tables](https://img.skitch.com/20120511-xi7dxjwc85r6eqtstri28a4xsn.png)

[2012-05-11 07:03] OscarGodson opened #102 "Default file.name if container is an object or container doesnt have ID"
This has always been an issue I've just never reported this. By default EE tries to use the ID of the element as it's default file ID. for example, if you have `<div id="poop">` in localStorage the file would be called `poop` if no name is given. We need to:
1. If no name is given...
   1. If the element has an ID, use it
   2. If the element has _no_ ID generate an ID `auto-epiceditor-N` where N

[2012-05-11 07:15] OscarGodson opened #103 "focusOnLoad doesn't work anymore in Chrome/WebKit"
The `focusOnLoad` option no longer works now that the editor is an iframe and not a textarea.

[2012-05-11 07:15] OscarGodson commented on #103
Oh, also, we need to add tests for this.

I have it working in firefox with a simple `self.editorIframeDocument.body.focus()` but Chrome seems to ignore this. :cry:

[2012-05-11 07:51] OscarGodson commented on #77
I'd consider it a slight improvement ;)

![new options](https://img.skitch.com/20120511-b9gkhjs9mpbm32f8ntutyrhn33.png)

In the same commit I did this to the events too.

cc: @sebnitu - you think this looks OK?

[2012-05-11 07:51] #77 closed, assigned to OscarGodson

[2012-05-11 15:03] #60 closed, assigned to OscarGodson

[2012-05-11 15:32] janlimpens opened #104 "Keep indents on newlines"
Hitting enter should keep indents

[2012-05-11 15:35] OscarGodson commented on #104
Dupe of #39

Indeed. This is high up there on the list, but we need to make this more stable and work cross browser better in the public beta coming up soon (only about 9 more tickets) before we start adding editing features, but this should be one of the first editor enhancements we do.

[2012-05-11 15:35] #104 closed, assigned to nobody

[2012-05-11 15:35] janlimpens commented on #104
Hitting enter again, should "outdent" by one level. It might also be good to be able to use the tab key to insert 2 spaces, but this might break UI Accessibility guidelines.

[2012-05-11 15:36] OscarGodson commented on #104
I like that. I'll add that to the original ticket, thanks @janlimpens

[2012-05-11 15:36] OscarGodson commented on #39
From @janlimpens in #104

[2012-05-11 17:37] sebnitu commented on #77
I love it man, that looks awesome :D (huge improvement)

[2012-05-12 06:22] #61 closed, assigned to OscarGodson

[2012-05-13 05:15] OscarGodson commented on #31
Darn. Now I remember why i did `files:{}` ins our localStorage object. I guess i'll need to make a new stash like `epiceditor-internals`. In localStorage it'll look like

[code]

[2012-05-13 20:02] OscarGodson opened #106 "Ability to include resources"
Mainly for JS, but some JS needs CSS too. The the issue is, how do you add colorizing of code in EE? It's in an Iframe so you'd have to manually inject it which is a pain. It'd be nice to have EE have a "resources" or "resource" option to include for certain parts of EE. For example:

[code]

[2012-05-13 20:56] OscarGodson opened #107 "Form mode"
This might be better for an extension, but I've gotten one issue filed and a couple people in person ask how, if this isn't a form element, they'd handle a form. The answer is to serialize their form and use `exportFile()` and add it to the form serialization, but that is kinda a pain. Instead it'd be cool, built in or not, to simple set "formMode: true" and behind the scenes EpicEditor would sync

[2012-05-14 03:42] johnmdonahue commented on #96
@OscarGodson So this is closed right?

[2012-05-14 03:43] OscarGodson commented on #96
No. The other one you reported in this ticket was.

On May 13, 2012, at 8:42 PM, John Donahue
reply@reply.github.com
wrote:

[2012-05-14 03:44] johnmdonahue commented on #96
Whoops. :)

[2012-05-16 15:53] OscarGodson opened #109 "Throttle live preview on a keyup"
We need to throttle the keyup live previews. A fast typer could _easily_ hit 3 keys a second meaning 3 DOM redraws a second. We should throttle this to where if you're typing it only refreshes like every second, or, if you stop typing it redraws then. I actually see a slowness with semi-large files already so this should probably get fixed in V1 at the latest.

This is the event we need to throttl

[2012-05-17 06:28] OscarGodson opened #110 "Emoticon extension"
You know, so you can do things like `:poop:` to get :poop:

Why? Because they're fun.

:toilet:

[2012-05-17 07:06] johnmdonahue commented on #110
:fist: :fire: :bomb: :thumbsup:

[2012-05-17 14:42] OscarGodson commented on #110
https://github.com/arvida/emoji-cheat-sheet.com

[2012-05-17 14:57] #68 closed, assigned to OscarGodson

[2012-05-17 15:10] #63 closed, assigned to OscarGodson

[2012-05-18 05:15] OscarGodson commented on #33
Another go at playing around with a hello world one

[code]

I like this better than specifying a type and instead just give them hooks into the processor in the extension. Something like `on('onBeforeParse', function(e, data)){}'` where `data` or something could hold the parsing data. Then you could do like `return data.replace('foo', 'bar')` and it'll give it back to EE? Not sure... @johnmdonahu

[2012-05-18 15:41] #37 closed, assigned to nobody

[2012-05-18 17:06] OscarGodson opened #111 "Way to print documents"
Right now there's no way at all to print. It'd be nice to have some kind of API call to do so (and maybe a button?). Something like `editor.print()` and it would create a browser window with the exact same thing you see in the preview and trigger the browser's print function.

[2012-05-19 02:01] dadambickford opened #112 "FF parsing is broken"
![http://i.imgur.com/o3aH5.png](http://i.imgur.com/o3aH5.png)

Currently FF is doing this^ to table tags.

[2012-05-19 05:37] OscarGodson commented on #112
It's also doing this for lists and stuff (see below). This is bad. God damn firefox. My gut instinct is that it has something to do with `_setText` or `_getText` https://github.com/OscarGodson/EpicEditor/blob/0.1.0-build-refactor/src/editor.js#L142-L151

I have a feeling because Firefox is the only browser that doesn't support innerText the innerHTML contains inline styles or something and it's pa

[2012-05-19 05:39] OscarGodson commented on #112
Yep, I was right. Look at this HTML for gods sake:

![https://img.skitch.com/20120519-ges7hy1bhie95dgm97hmxcjq1s.png](https://img.skitch.com/20120519-ges7hy1bhie95dgm97hmxcjq1s.png)

I think our get/setText functions are going to have to do more cleanup probably.

[2012-05-19 15:34] OscarGodson commented on #112
Fixed lists:

![example](https://img.skitch.com/20120519-jqs7htha55gsju4xxc6qpe6y9f.png)
![example](https://img.skitch.com/20120519-e4tfatck57ts5mqcdya84c69ti.png)

The table issue is part of a much, much bigger issue now though. You see... Firefox doesn't support innerText like every other browser so I can't get the pure text of the page which includes `<table>` or any other text a user put in. F

[2012-05-19 15:35] OscarGodson commented on #112
Nevermind. That was easy. Pushing a fix.

[2012-05-19 15:40] OscarGodson commented on #112
@dadambickford can you please verify this. Works good in FF on my end tho now:

![table](https://img.skitch.com/20120519-8fe1hwryb3m21h5inmmtnynisx.png)

[2012-05-19 15:40] #112 closed, assigned to nobody

[2012-05-19 15:42] OscarGodson commented on #101
Seems to work fine on my end now after fixing #112

![table](https://img.skitch.com/20120519-n57pbi57a1dia58ci1ccpu7aw6.png)

[2012-05-19 15:42] #101 closed, assigned to dadambickford

[2012-05-19 15:44] OscarGodson commented on #64
Verified after fixing #112

[2012-05-19 15:44] #64 closed, assigned to dadambickford

[2012-05-19 20:49] dadambickford commented on #112
yeah it looks fine in FF for me as well, and the `<li>` is rendering correctly so i'll go over #64 again today and double check that all the styles look correct with anchor tags and code tags

[2012-05-20 02:24] OscarGodson commented on #75
Man. I'm really stumped on this. Doing:

[code]

Returns the right HTML:

[code]

However, as we know the previewer (and `exportFile`) is saying the HTML is:

[code]

Which is strange @chjj marked would even return a line break in the HTML at all in the middle of a string _and_ notice there's two spaces in that copy paste above after `Hello`.

So, to make sure I was giving the right thing to marke

[2012-05-20 07:44] chjj commented on #75
This happens out of the `exportFile` function? To test it, you should do: `console.log(content.replace(/\n/g, '{n}').replace(/ /g, '{s}'));` instead. Markdown requires two spaces, not any other kind of whitespace.

[2012-05-20 16:49] OscarGodson commented on #75
@chjj thanks a lot! that worked. It says `{s} {n}`. Not sure what else that whitespace could be tho since I hit spacebar twice and one times it registers as a space the other not. I'll have to do some research.

[2012-05-20 16:57] chjj commented on #75
Could be a tab, return carriage, vertical tab, form feed, etc. Very strange, but you should dump the bytes to see.

[2012-05-20 17:16] OscarGodson commented on #75
@chjj Yep, thats what I was doing. Looks like for `hello  \nworld` it's returning:

`0048 0065 006c 006c 006f 0020 00a0 000a 0077 006f 0072 006c 0064`

Or, a space then a "no-break space" (`&nbsp;`). I guess I'll convert: `\u00a0` to `\u0020`. Talk about hacky...

[2012-05-20 17:29] #75 closed, assigned to nobody

[2012-05-20 18:00] chjj commented on #75
Cool. By the way, I recommend upgrading marked to v0.2.5, which fixes some inaccuracies with how list items interact with  `<hr>`.

[2012-05-21 02:29] OscarGodson commented on #75
@chjj Done! thanks @johnmdonahue

[2012-05-21 02:45] OscarGodson opened #113 "Byword style selection hovercards"
Like:

![https://img.skitch.com/20120521-r1iu1t8k4gge97iah5pb25tarr.png](https://img.skitch.com/20120521-r1iu1t8k4gge97iah5pb25tarr.png)

Sexy...

[2012-05-21 03:28] OscarGodson commented on #56
I was thinking about this again today and checking for scrolling wont work because once you hit the bottom the scrolling stops therefore it'll start scrolling the parent again. You'll probably instead want to prevent scrolling while focused on the editor or something.

[2012-05-22 00:46] sebnitu opened #115 "Option Icons Ideas"
Hey,

Here is a concept of the icons on the options of EpicEditor. Let me know of comments and critiques.

Edit Mode

![http://cl.ly/Gmz5](http://f.cl.ly/items/431L3y1V0G2K0S0h1U0R/ee-icons-design-edit-large.jpg)

Preview mode:

![http://cl.ly/GmCA](http://f.cl.ly/items/0l0C3Y340Q0q062X2r38/ee-icons-design-preview-large.jpg)

Thanks!

[2012-05-22 00:48] OscarGodson commented on #115
That's quite sexy if i do say so myself. Are these your icons or taken from somewhere? I love this idea. Much easier to see and makes a lot more sense.

[2012-05-22 00:49] OscarGodson commented on #115
cc: @johnmdonahue @dadambickford - thoughts? Easy enough change we could get it into 0.1.0

[2012-05-22 00:52] OscarGodson commented on #115
@sebnitu Are these icons the same color for preview and edit? If not it'd be great if they were/could because being able to swap icons based on background color (light/dark) isn't implemented. That's my only concern.

[2012-05-22 00:53] sebnitu commented on #115
The icons are glyphicons ( http://glyphicons.com )

I've purchased the set so whatever you want to try from there or even the Pictos ( http://pictos.cc ) set we can use :D

[2012-05-22 00:53] johnmdonahue commented on #115
Nice! :thumbsup:

[2012-05-22 00:55] sebnitu commented on #115
Ah, yes, they are different icons/colors. Like for example, the toggle edit/preview icon changes depending on the screen you are on preview = open eye, edit = closed eye.

So, it's not possible to make any changes to the buttons depending on the active state?

[2012-05-22 00:58] OscarGodson commented on #115
We can swap out the icons per state (there's a state object built into EE that keeps track of it), I'm purely talking about the color. Is there any way from a design standpoint to make an icon that works on dark and light editor/preview styles? Swap out the dark editor style with the light one for example, would it still look ok?

[2012-05-22 01:05] sebnitu commented on #115
Oh, gotcha. Yeah, we'd have to go with like a 50% gray for something like that. So maybe something more like this:

![http://cl.ly/GnEo](http://f.cl.ly/items/3T1d163t1c3v1S3I3X1S/ee-icons-design-equal.jpg)

[2012-05-22 01:09] OscarGodson commented on #115
@sebnitu how do you feel about that? Does it look OK to you? If so I'd love to get this in. I :heart: it!

[2012-05-22 01:10] sebnitu commented on #115
Yeah man, I really like it! I may be suffering from personal work bias though :P

Want me to implement this change? I promise I won't mess up the tabbing again :)

[2012-05-22 01:12] johnmdonahue commented on #115
Just throwing this out there... what if instead of the slashed eye we use a pencil for edit. We could maybe even use the pencil from the awesome EE logo ;)

[2012-05-22 01:17] dadambickford commented on #115
@johnmdonahue I was actually thinking the same thing, and just mentioned it to Oscar on twitter

[2012-05-22 01:18] OscarGodson commented on #115
True, @johnmdonahue i guess just try whatever and send a pull request and see what looks best to you!

That'd be really awesome if you could code it up! Just pull the latest from us checkout `0.1.0-build-refactor` then make a new branch like `git branch feature/new-icons` and when you're done run the tests `jake test` and if it all passes send us a pull request :)

Just in case you're curious:

[c

[2012-05-22 01:30] sebnitu commented on #115
Here's some more ideas based off @johnmdonahue's suggestion: http://cl.ly/GmAT

The far left one is the EE logo (doesn't look very good at a small scale). The other two are from the glyphicons set. I prefer the one on the far right out of these three but I personally prefer the slashed eye. Totally up to you guys though, just let me know :)

[2012-05-22 02:08] OscarGodson commented on #115
![http://f.cl.ly/items/3U0H1Q0E0Z3P3g3u2Y31/ee-icons-design-equal.jpg](http://f.cl.ly/items/3U0H1Q0E0Z3P3g3u2Y31/ee-icons-design-equal.jpg)

can't edit while on mobile so added the image to my comment. After seeing those I prefer the eye with a line through it also simply for the fact that the transition between the eye and the eye with a line is much more smooth looking IMO. Either way @sebnitu y

[2012-05-22 03:10] johnmdonahue commented on #115
Thanks for mocking that up @sebnitu! @OscarGodson I see your point about the smoother transition. I'm definitely no designer and I like the slash eye as well anyway so I will defer here.

FWIW though my personal favorite is the stand alone pencil in the middle. From a UI standpoint it just seems more intuitive/descriptive of what the button does - preview/edit. A less smooth transition between vie

[2012-05-22 15:22] OscarGodson commented on #115
This should also take care of #35. Yay! Then that will leave us with just 2 tickets.

[2012-05-22 18:53] sebnitu commented on #115
Ok so a few things:

I'm not suppose to make changes to the files in the epiceditor directory right? So I made my change to editor.js in src. (pretty much just changing the width of the images). I then assume that I'm suppose to run `jake build` so that the files in epiceditor grab my changes. I ran `jake test` and everything passed, but when I run `jake build --trace` this is what I get:

[code]

[2012-05-22 18:56] OscarGodson commented on #115
Yeah, only the JS is built when working with the source.

I think you might be missing Marked maybe? This is a @johnmdonahue question. I'd try:

[code]

I think it's missing the Marked

[2012-05-22 19:00] sebnitu commented on #115
That was it, thank you! I thought I ran the init and update lines though (followed from the wiki). Does it make a difference depending on the branch I'm currently on when I run it?

[2012-05-22 19:02] johnmdonahue commented on #115
@sebnitu Editing the css in `epiceditor` should fine since it doesn't need to be built. As for the Parser path, that was my mistake on the last Jakefile update. This is being caused by not having the Marked module inited before building. It should init the submodule before checking to see that the parser path exists. I just push this change out. Can you retry with the updated Jakefile?

[2012-05-22 19:06] johnmdonahue commented on #115
@OscarGodson yup its marked... I should have refreshed before commenting. The submodule init/update runs in the Jakefile now so this step should not be necessary and should be removed from the wiki I guess. It was working fine before the last update where I added a check to see if the parser existed before this step causing it to fail in this case but this should be fixed now.

[2012-05-22 19:07] johnmdonahue commented on #115
Also you should be able to see Jake handling it correctly by doing the following:

[code]

[2012-05-22 19:08] sebnitu commented on #115
When I run `jake build` now, it seems to be working:

[code]

And I see the changes getting built in the epiceditor directory :)

[2012-05-23 01:00] OscarGodson commented on #31
This can wait until 1.0. There's no real need for us to try and do this.

[2012-05-23 02:32] sebnitu opened #117 "Editor state bug when exiting full screen mode"
I noticed that when I enter full screen mode, then exit, the editor get's the `epiceditor-preview-mode` class even when I'm still in edit mode.

Screenshot: http://cl.ly/GpxA

![http://f.cl.ly/items/3n470R28383o1s0C2F3v/Screen%20shot%202012-05-22%20at%207.12.46%20PM.jpg](http://f.cl.ly/items/3n470R28383o1s0C2F3v/Screen%20shot%202012-05-22%20at%207.12.46%20PM.jpg)

[2012-05-23 05:56] OscarGodson commented on #115
:shipit: it has been done (and tested). Only issue is #117 which you reported. I (or @dadambickford ?) need to fix that before shipping completely, but thats an easy and small change! Looks fuckin' great! Huge improvement!

[2012-05-23 05:57] #115 closed, assigned to nobody

[2012-05-23 05:57] OscarGodson commented on #117
@dadambickford can you take care of this one ASAP?

[2012-05-23 05:58] OscarGodson commented on #35
Fixed 3 months later thanks to @sebnitu (re: #115)

[2012-05-23 05:58] #35 closed, assigned to nobody

[2012-05-23 06:01] OscarGodson commented on #117
This is important because it affects the button states and then the buttons look broken and stuff. Should be simple just on the exit fullscreen function change the class based on the state.

[2012-05-23 18:14] #117 closed, assigned to nobody

[2012-05-25 05:56] OscarGodson opened #120 "Pressing fullscreen key command to close fullscreen breaks EE"
Here's an almost finished patch by @dadambickford
https://github.com/OscarGodson/EpicEditor/commit/f5de391afbd90c196eb514b82e417c57bd8978dc

Works great in Chrome, but FF isn't working yet. Investigating now. The steps to repro this were:
1. Open fullscreen with the key command (<kbd>alt+f</kbd>)
2. Try to close with the same command as if it were a toggle key shortcut
3. Notice shit broken.

Now,

[2012-05-25 06:00] OscarGodson commented on #120
@dadambickford you just forgot to `return` :) fixed and in the 0.1.0 release. Good catch by the way

[2012-05-25 06:00] #120 closed, assigned to OscarGodson

[2012-05-25 06:11] OscarGodson opened #121 "Back to back fullscreen cmd doesn't work if fullscreening while in preview in Firefox"
Steps, Firefox:
1. Go to previewer
2. Open fullscreen with the key command
3. Close the fullscreen with the key command
4. Try to reopen it... you can't, actually, none of the commands work

Chrome does not have this issue. This issue also doesnt happen if you open fullscreen while in edit mode.

cc: @dadambickford

[2012-05-25 06:11] OscarGodson opened #122 "Back to back fullscreen cmd doesn't work if fullscreening while in preview in Firefox"
Steps, Firefox:
1. Go to previewer
2. Open fullscreen with the key command
3. Close the fullscreen with the key command
4. Try to reopen it... you can't, actually, none of the commands work

Chrome does not have this issue. This issue also doesnt happen if you open fullscreen while in edit mode.

cc: @dadambickford

[2012-05-25 06:12] OscarGodson commented on #122
fucking github. This was is a dupe because I hit back after making the ticket.

[2012-05-25 06:12] #122 closed, assigned to nobody

[2012-05-25 06:57] OscarGodson commented on #103
WTF. The above fix _should_ work in Chrome:

http://jsbin.com/ukozim/edit#javascript,html

That's basically the process we do and it works fine. :rage:

[2012-05-25 07:42] #103 closed, assigned to nobody

[2012-05-25 08:00] OscarGodson commented on #100
This ain't gonna be easy: http://stackoverflow.com/questions/2176861/javascript-get-clipboard-data-on-paste-event-cross-browser

[2012-05-25 08:24] OscarGodson commented on #100
If anyone is going to work on this check out the `feature/ticket-100` branch. I did a quick hack and it works except losing your cursor position.

[2012-05-27 05:17] OscarGodson opened #124 "A "pop out" button"
Probably a useful feature. Would be much like Gmail's pop out feature when composing an email and for the same reasons. Maybe you don't want it full screen, but do want a bigger editor or previewer? Or, maybe you're doing some research and want EpicEditor open while you brows your other browser tabs. Probably wouldn't be too hard actually. Putting this as a 1.0 feature, but if it ends up beeing to

[2012-05-27 05:34] OscarGodson opened #125 "Clicking preview/edit then trying to do a key shortcut doesn't work"
Repro steps:
1. Click the preview icon
2. Try doing <kbd>alt</kbd> + <kbd>o</kbd> to preview
3. Click on the previewer
4. Do step 2 again.

Need to set focus to the correct iframe when clicking on a button because clicking the button puts the focus on the base iframe.

[2012-05-28 06:18] OscarGodson commented on #99
Maybe this isn't our issue at all. I mean, what are the chances of a non tech savvy person writing something like the above? Plus, what if you wanted to do something like JSBin with EpicEditor? Should we close this?

cc: @johnmdonahue @dadambickford

[2012-05-28 18:39] johnmdonahue commented on #99
Agreed. I don't think this is really an EE issue. If people run into specific problems with this maybe we could reevaluate then.

[2012-05-28 18:41] #99 closed, assigned to nobody

[2012-05-29 01:04] #57 closed, assigned to nobody

[2012-05-29 01:04] OscarGodson commented on #57
Since this isn't just a markdown editor anymore I'm gonna close this.

[2012-05-29 01:05] OscarGodson commented on #21
This is basically an expanded version of ticket #20. Closing #20 in favor of an all encompassing solution.

[2012-05-29 06:25] OscarGodson opened #126 "Dropped key presses in fullscreen"
In fullscreen (faux and native), there's dropped keys. In other words paste this doc:

https://gist.github.com/1d478af940c72e0f6a9e

Then on any of bullet points type `123456789` and watch the preview. Delete and repeat a few times. Within a few tries you should notice that there might be a character that doesn't show up in the preview until you type another character. I tried this going super slo

[2012-05-29 06:27] OscarGodson opened #127 ""Sticky" shortcuts"
I can't reproduce this reliably but the best way to reproduce this, I guess, is to just write a document. Switch tabs, copy random bits, paste them, write, etc. Try to break it. At some point, sometimes, the shortcut keys get sticky. The "modifier" key seems to always return true therefore pressing a shortcut key like `f` will trigger fullscreen or `o` will just not show up in the editor (because

[2012-05-29 08:46] #126 closed, assigned to nobody

[2012-05-29 13:47] johnmdonahue commented on #90
@OscarGodson I think #114 takes care of this since `intro.js` has been removed. Also, I realize we don't yet have a full on extension interface but #114 also takes care of at least part of #33. Just wanting to tie up some loose ends.

[2012-05-29 13:47] #90 closed, assigned to johnmdonahue

[2012-06-08 19:29] Elv13 opened #128 "[Code inside] Add setContent(content) function"
I probably missed something reading the doc, I have not found how you are supposed to get and set MD content. If it is really not possible, then please add those 2 functions:

[code]

They are usefull to load and save content using AJAX

[2012-06-08 19:47] johnmdonahue commented on #128
I like this idea. We're getting close to the beta release that might actually address this. @Elv13 would you mind checking out the beta API to see if this will work for what you're trying to do: https://github.com/OscarGodson/EpicEditor/tree/0.1.0-build-refactor#importfilefilenamecontent

[2012-06-08 20:11] OscarGodson commented on #128
It's done. I made some text changes, i'll try to get it finished tonight, soft launch and make an announcement on Monday.

As for what you mention, yeah, `exportFile` in the 0.1.0 release does what you mention (it allows you to export raw content by default and HTML by passing it a parameter). And in the old API, `import()` seems to do basically `setContent`, no?

[2012-06-09 01:47] OscarGodson commented on #128
@Elv13 I merged in the beta release. I'm gonna close this for now, but comment/open it again if `exportFile` and `importFile` don't do what you want :)

[2012-06-09 01:47] #128 closed, assigned to nobody

[2012-06-09 23:45] OscarGodson opened #129 "Support fluid width containers"
When you resize your browser in an element that's fluid EE should resize with it. First requested from: @jensscherbl

[2012-06-09 23:46] #129 closed, assigned to OscarGodson

[2012-06-10 07:46] OscarGodson opened #130 "Make docs readable on mobile"
Right now the sidebar overlaps the right column when you zoom in on the right column making it almost impossible to read.

[2012-06-10 22:53] OscarGodson commented on #109
Forgot I got this into 0.1.0: https://github.com/OscarGodson/EpicEditor/commit/15c70a54a9bdf50de64c954ebe8832eeefe2f186

[2012-06-10 22:53] #109 closed, assigned to OscarGodson

[2012-06-11 14:26] OscarGodson commented on #102
I found out when doing `<div id="bar" class="foo"></div>` and then doing `EpicEditor({ container: document.getElementsByClassName('foo')[0] })` the resulting storage name is:

![lol](https://img.skitch.com/20120611-rr9qip2j6p4e8swpgxiu8h5849.png)

[2012-06-14 20:22] dadambickford commented on #1
https://github.com/ccampbell/rainbow
just saw this on the front page of GH today, sounds cool.

[2012-06-16 13:13] mandrasch opened #131 "Event when text was edited in Edit-View [emit a "changed" event]"
Hey Folks!

Really nice and beautiful plugin! I wanted to integrate it with AngularJS and bind the markdown text value to a textarea, which is not really a problem.

The problem is that there is no "change"-Event which fires when the raw markdown text changes (e.g. user types something). The "update"-event only fires when there is a save()-Action. But this only works if there is auto-saving. And e

[2012-06-16 13:48] OscarGodson commented on #131
Thanks!

This makes sense I guess for people wanting to make POST ajax calls with no auto save or long auto saving intervals.

The only problem I can think of is actually triggering this reliably. Keypresses are easy, but theres pastes from the file menu and right click menu and importFile() and manually through DOM APIs or the built-in getElement shortcuts. This will probably take some time. I'll

[2012-06-16 17:15] mandrasch commented on #131
Good idea! I now implemented it using the blur event and content comparison. Implementation can be found here:
https://github.com/programmieraffe/angular-editors/blob/master/editors/epiceditor/directive.js

I liked your api method for getting the iframe of the editor, very clean!

[2012-06-16 18:09] OscarGodson commented on #131
@programmieraffe I love seeing people's implementation code :) thanks for sharing. This helps a lot in prioritizing tickets when I see what others are doing. Feel free to keep sharing any pain points you may have or bugs.

[2012-06-17 05:37] #102 closed, assigned to OscarGodson

[2012-06-17 23:26] #78 closed, assigned to OscarGodson

[2012-06-18 04:36] OscarGodson opened #132 "Autogrow support"
If `autoGrow: true`, in/decrease the height Npx each line of text put into the editor

[2012-06-18 05:08] OscarGodson commented on #85
@johnmdonahue This is done and working, just have to write tests, but the naming part is the hardest. I went with `fileList([name])`. How do you feel about that? I wanted to do `file` or `files` but that felt like you should be able to do more with it like import and export. I was thinking about the Node and thought of `fs`, but too vague. Any other ideas?

[2012-06-18 05:31] OscarGodson commented on #56
Going to close this for now. No other editors do this and because of that would probably be bad UX.

[2012-06-18 05:31] #56 closed, assigned to nobody

[2012-06-18 05:47] #125 closed, assigned to nobody

[2012-06-18 05:48] OscarGodson commented on #121
Was fixed when I fixed #125

[2012-06-18 05:48] #121 closed, assigned to nobody

[2012-06-22 14:28] OscarGodson commented on #85
Think it should maybe be `getFiles()` to match `getElements()` and the fact we have a sort of `actionNoun` thing going too with `importFile`, `exportFile`, `getElements`, etc.

[2012-06-22 15:00] #85 closed, assigned to OscarGodson

[2012-06-22 18:44] johnmdonahue commented on #85
Late to the party but +1 on `getFiles()`

[2012-06-26 10:48] romme86 opened #133 "press p opens preview"
when i press the p key the preview mode is open this dosen't permit the p key to be written and other keys they don't work somtimes, like the o key.

[2012-06-26 14:53] OscarGodson commented on #133
This sounds like #127. Does #127 sound like your issue? Someone else has reported this as well as me, but I'm having a really hard time trying to reproduce it. Can you reproduce it reliably with a set of steps?

[2012-06-26 15:19] romme86 commented on #133
Yes that also happends. it all works fine until i use the '#' if i press the 'p' after '#' it starts a lot of strange things.

[2012-06-26 15:26] OscarGodson commented on #133
Hmm, can't repro it that way (or else I wouldn't have been able to write my EpicEditor's docs). I tried in Mac FF and Chrome. What OS and browser are you on?

[2012-06-26 15:56] romme86 commented on #133
win7 firefox :)

[2012-06-26 15:59] OscarGodson commented on #133
Awesome. That's explain it. I'll look into it some more on Win7 then.

[2012-06-26 16:13] larzconwell commented on #127
Oh just to let you know, F key gets stuck as well. When you press it, it toggles full screen.

[2012-06-26 16:22] OscarGodson commented on #127
Yeah. All shortcuts should "stick" when this happens. Not sure why yet, but altKey always returns true sometimes. Hmm

[2012-06-26 18:14] dadambickford commented on #127
Can't reproduce here in chrome or FF, I remember it happening once or twice a while back, but it never happened repeatedly.

[2012-06-26 18:16] OscarGodson commented on #127
@dadambickford Can you try https://t.co/7oLbp7NR (written up by @larzconwell)? I believe he's on Ubuntu like you. Those steps don't work for me personally. Also, can you see #133 who is a user on W7?

[2012-06-27 04:48] OscarGodson commented on #133
@romme86 - good news, I was able to reproduce it very easily on FF on Win7. This will probably help with figuring it out for the less easily reproducible cases on other OSs and browsers. I'm working on it now.

[2012-06-27 07:28] romme86 commented on #133
Thank you! i would like to give an help, but i'm kind of a rookie at the moment! :)

[2012-06-27 14:58] OscarGodson commented on #127
I could only come up with a half ass fix. I'm setting `isMod` (what checks if the modifier key is being pressed) to `false` after each successful key shortcut that is executed. The only problem is you can't do back to back shortcuts like: `alt+p o` to preview then flip back to edit without lifting `alt`. I think for the most part this is ok, but I'll wanna come up with some other fix eventually (i

[2012-06-27 14:58] #127 closed, assigned to nobody

[2012-06-27 15:00] OscarGodson commented on #133
@romme86 I think I came up with an OK fix. Not sure if I can do anything better since Windows binds the alt press to trigger the action menu (File, Edit, etc). My fix is to reset the modifier key value after each successful shortcut. So, once you press `alt+p`, `alt` is reset back to false, meaning it wont get stuck. The only downfall is you can't do `alt+p o` which would preview then open for edi

[2012-06-27 15:04] OscarGodson opened #134 "You have to click the editor to get key shortcuts to work again in IE9"
To reproduce:
1. Click on the editor
2. Press `alt+p` to preview
3. Press `alt+o` to edit
4. Notice that the edit shortcut didn't work like Chrome and Firefox
5. Click on the editor
6. repeat step 3
7. Note that edit mode finally fires.

As with Firefox, this probably has to do with the fact no focus is on that iframe when you switch. In the `edit()` and `preview()` code I have `self.editorIframe.

[2012-06-27 17:47] dadambickford commented on #127
i was still unable to purposely produce any sticky shortcuts with the steps provided. ctrl+alt+arrows just changes desktops for me, and doesn't have any effect messing with epic editors shortcuts.

[2012-06-27 17:52] OscarGodson commented on #127
@dadambickford So after switching tabs and going back the shortcuts were still working?

[2012-06-27 17:55] dadambickford commented on #127
like a charm, switching tabs in the browser, switching the desktop tabs with the short cuts, minimizing, maximizing, i couldn't get them to fail.

my only experience with it was like i said earlier, it happened once or twice months ago and i couldn't reproduce then either, so no clue what caused it.

[2012-06-27 18:16] OscarGodson commented on #127
Nice, alright, well in that case ill wait for @larzconwell to reopen the issue if it persists after this change. Thanks @dadambickford

[2012-06-27 19:14] larzconwell commented on #127
I am in fact running Ubuntu and my ctrl+alt+arrows switch desktops as well.

It mostly fixed it, the _only_ time it messes up now is when I change desktops then try to use the S key. the O key is working perfectly in all cases.

[2012-06-27 20:21] OscarGodson commented on #127
I think I know the problem. DMed you on Twitter, but thought I should write here so it's saved. Since I can't reproduce it I want to make sure what I think will fix it actually fixes it before pushing to develop. I think adding the highlighted line to `src/editor.js` would fix it:

![](https://img.skitch.com/20120627-jru6csrsan345exg3qpmsqg8rq.png)

[2012-06-27 20:27] larzconwell commented on #127
Yep that works perfectly!

[2012-06-27 20:28] OscarGodson commented on #127
Awesome ill push a fix right now then. Thanks for the help!

[2012-06-27 20:30] larzconwell commented on #127
Your welcome!

[2012-06-28 03:03] johnmdonahue commented on #133
@OscarGodson: Ha. I didn't realize you already closed this, but I finally got a chance to play with it on a windows box and came to the exact same conclusion (i.e. set `isMod = false` on successful combo). Seems like a reasonable fix IMO since EE only makes view shortcuts customizable and not other commands you might want to keep pressing (cmd+z etc). Sorry for being late to the party but +1 ;)

[2012-06-28 07:25] librarian commented on #107
I need this feature. Maybe you could suggest how to implement this feature by myself?

[2012-06-28 07:25] librarian commented on #41
I need this feature. Maybe you could suggest how to implement this feature by myself?

[2012-06-28 14:31] OscarGodson commented on #107
@librarian

It's pretty easy. There's two ways you could do it:
1. Have an invisible (`display:none;`) textarea that syncs it's content with the editor.
2. On submit, get the content of the editor and post it.

It depends on how you need it. But #1 above would be super easy. Since it's a real form element, on submit it'll just work. Here's an easy way you could implement it: http://jsbin.com/ozibo

[2012-06-28 14:35] OscarGodson commented on #41
@librarian This will be tough and why it's a v2 thing. The tough part is moving the cursor around. It's a contenteditable so it'll be like implementing any other WYSIWYG buttons. I suggest googling it because there's a lot you'd have to do. You could have a look at how markItUp does it: http://markitup.jaysalvat.com/examples/

If you do it, let me know. I'd be interested in your implementation.

[2012-06-28 14:47] OscarGodson opened #135 "Update event is firing before content is actually updated thus showing old content"
The `update` event is above where we are saving the content in `localStorage` so doing something like:

[code]

Will export the file as it was **before** it was updated.

[2012-06-28 14:48] #135 closed, assigned to nobody

[2012-06-28 14:54] OscarGodson opened #136 "exportFile / file.content is exporting &nbsp; spaces"
Because, by default, it exports as plain text we don't want HTML entities in there just raw spaces.

For example: http://jsbin.com/oziboh/4/edit

If you go there, type "s "

it'll show you `s &nbsp;` in the box below

[2012-06-28 15:01] #136 closed, assigned to nobody

[2012-06-28 21:19] TotallyInformation opened #137 "Fallback gracefully to using an object in memory to store data when localStorage is undefined"
Hi Oscar, we've been chatting over on [Stack Overflow](http://stackoverflow.com/questions/134235/is-there-any-good-markdown-javascript-library-or-control).

I've been trying to get Epic to work in IE9 but I can't do it. Your demo page works fine but I cannot run it locally (e.g. without a server).

Here is the code:

[code]

Everything does load and it runs perfectly in Firefox 11. It does not run

[2012-06-28 21:25] OscarGodson commented on #137
IE9 has a security thing with localStorage. IE9 doesn't allow localStorage locally. Just put it on a server like WAMP or if you're VMing into Windows run Python's simple server (`python -m SimpleHTTPServer`) and then you can go to `192.168.x.x:8080` in IE9 on your VM and it'll load it from your *NIX box.

Are you just developing, or does this need to be run locally for some reason?

[2012-06-28 21:32] TotallyInformation commented on #137
Yes, I need to run locally, this is part of an HTML Application (HTA) - HTA's get special access to the local system but, as you say, some other things don't work. I need to access a bunch of markdown formatted files that will be on the local drive and I wont be able to run up a server due to restrictions in place on the PC's.

I've just made a quick amendment that I'm sure breaks all sorts of stu

[2012-06-28 21:39] OscarGodson commented on #137
You don't want that, you want:

[code]

This way in Firefox and Chrome it'll be able to store drafts in localStorage, but if it can't (IE9) it'll use a backup. It wont save on refreshes, obviously, but it'll work. Also you wont have to do a find and replace and upgrades will still work.

[2012-06-28 21:53] TotallyInformation commented on #137
I tried that first - sorry I should have said.

I got an error saying I wasn't allowed to redefine a constant. So it looks like IE9 knows that it is a reserved word.

Actually, you've got me thinking about web servers - I know that Java is available on all of the machines so I'm just looking to see if there is a Java equivalent of the Python suggestion - don't know why I didn't think of that since

[2012-06-28 22:04] OscarGodson commented on #137
I see, thats good to know. I'll change the title of your post and work on a feature to fallback gracefully in IE9 rather than just dying if run locally.

[2012-06-28 22:09] OscarGodson commented on #137
@TotallyInformation also, when you're done i'd love a demo of it or a screencast and the source to see what you did with EE :)

[2012-06-28 22:09] TotallyInformation commented on #137
OK, thanks for the help.

I've not had much luck with the Java SimpleServer equivalent. As usual, Java proves frustrating. I could create something myself - if I were a Java programmer!

[2012-06-29 21:47] librarian commented on #41
Thanks, I will try at my free time

[2012-06-29 21:47] librarian commented on #107
Thanks.

[2012-06-30 15:21] reco commented on #113
would love to see this :)

[2012-06-30 17:44] romme86 commented on #133
@OscarGodson : hi! i tried with the develop files, but maybe i used the wrong ones because the alt key still gets stuck, but only the first time.. it's a bit better.

[2012-06-30 21:32] OscarGodson commented on #133
Maybe @johnmdonahue or @dadambickford can try to reproduce off develop on Win7 + Firefox but I can't at all anymore.

It shouldn't get stuck just once tho. If it gets stuck it should keep getting stuck since you're taking the same steps. Strange...

As long as you did:

[code]

You should have it. You can also do git log and make sure the `af397d4` sha is there. Should be the 4th down about. If th

[2012-07-01 13:04] romme86 commented on #133
I'm not good using the shell with git.. but on the website when i click on the pull request says that the OscarGodson:develop is updated with the romme86:develop. is this ok if i use those files?

Anyway the things i do are simply:
-click on the epiceditor.
-press alt+# to print "#"
-press p
-the editor goes in preview mode
-press on the eye icon
-the editor goes in edit mode
now i can print the p

[2012-07-01 13:07] romme86 opened #138 "container options not working"
i discovered an issue that i hope is only my fault:

When i change the container option both in the min.js file or setting the var option. the editor stops working.
it does not load.

I did that because i wanted to run multiple editor instances in one page and use them separately, i don't know if there is another better way.

[2012-07-01 15:26] OscarGodson commented on #138
Could I see your code? Not sure what you mean by "setting the var option"? You can load as many instances as you want. Our test suite runs over 70 editors at once :)

This should work:

[code]

Example here: http://jsbin.com/obezop/edit#javascript,html

[2012-07-01 15:40] OscarGodson commented on #133
@romme86 Thanks, this makes sense now. No worries about the cloning and stuff. Your steps allowed me to reproduce it.

My fix only works for when you press the alt key and then press a shortcut key. I'll add another snippet that looks if the alt key is pressed and another key was pressed that is _not_ a shortcut key. This way it'll reset after every key combination whether it's a shortcut or not.

[2012-07-01 18:28] #133 closed, assigned to nobody

[2012-07-01 18:29] OscarGodson commented on #133
OK @romme86 I rewrote my fix and now `alt+#` then `p` no longer triggers the previewer. Can you try develop again?

[2012-07-01 18:32] OscarGodson opened #139 "Cursor position is lost in Firefox when switching to and from previewer to editor"
Write some text with multiple lines in Firefox. Then put the cursor in the middle somewhere. Go to the previewer, now go back to the editor. Notice the cursor is now at the top.

[2012-07-02 06:48] romme86 commented on #133
@OscarGodson hi! i press alt+# because i have the italian keyboard layout, in the us layout the # is over the 3 in my layout it's near the à.
i'll try it again soon i'll let you know!

[2012-07-02 06:50] romme86 commented on #138
ok i'll try this way of passing options.
i did this:

<script>
  var opt { ... container='editor1' ...}
  editor1 = new EpicEditor(opt).load.
</script>

[2012-07-02 06:54] OscarGodson commented on #138
That should work fine as long as you have 2 different option objects. You can't have two elements with the same ID in HTML.

[2012-07-02 08:00] levint opened #140 "Textarea as container"
I wish there would be support for form textarea as a container. It should also degrade gracefully into a normal textarea if ever javascript is disabled. Is this possible?

[2012-07-02 08:10] OscarGodson commented on #140
To help best answer your question, why do you want it to be a textarea and not a contenteditable iframe?

JavaScript is enabled on some ~95% of devices. I'm curious who and what is your use case? This will help me figure out how to help or what to change.

[2012-07-02 08:19] levint commented on #140
Thank you for your fast reply :)

My app (personal project) is a Q&A site similar to stackoverflow (ask questions, answer questions) so the primary method of posting content is through html forms. I want the basic features above to work without javascript just in case there are users who browse with javascript disabled.

[2012-07-02 14:44] OscarGodson commented on #140
This isn't a textarea because you wouldn't be able to do anything neat with a textarea. We're working on cool editing features like what Mou or Byword does. That'd be impossible with a textarea. However, you still need to get content out and that's why the API is there.

You can sync up the changes you make with a textarea super easy so when a form is submitted it'll work like this:
http://jsbin.c

[2012-07-02 14:44] #140 closed, assigned to nobody

[2012-07-02 14:45] OscarGodson commented on #138
I'm going to close this for now, but feel free to reopen it or comment again if this didn't answer your question.

[2012-07-02 14:45] #138 closed, assigned to nobody

[2012-07-02 14:59] levint commented on #140
Thank you for the clarification :) Yes indeed you are correct that we should not worry about javascript being disabled since almost all users have it enabled. I'd take your suggestion regarding synchronization with a hidden textarea.

[2012-07-03 01:47] levint opened #141 "Disable localStorage persistence"
How to disable localStorage support? .. I only persist the markdown into a server-side database

[2012-07-03 01:56] OscarGodson commented on #141
Why do you need to disable it? localStorage is in there so itll work offline or if saving to the DB fails. You could set autoSave to false tho if you wanted. I'm curious why you need to disable it tho so I can handle your use case.

[2012-07-03 02:07] levint commented on #141
It is because my app does and will not require it. I tried to set autoSave to false but I encounter the following problem:

-> http://jsbin.com/etudol/edit#javascript,html will not work anymore because file.content is empty

[2012-07-03 02:09] levint commented on #141
On a side note, regarding the jsbin code in the above comment, Is it possible to get the contents (on editor update) from the contenteditable iframe instead of file.content? ...

[2012-07-03 02:32] OscarGodson commented on #141
You'd have to manually get the content out with like:

[code]

Or something.

But if it just that your app doesn't require it, not that it breaks anything, why can't you just ignore it? It should be all behind the scenes.

[2012-07-03 03:11] levint commented on #141
I changed it to
     editor.on('update', function () {
            textarea.val(editor.getElement('editor').body.innerText);
        });

but it still does not work.

The problem also with autoSave not being false is that the file contents is loaded on load. I don't want that behavior.

with autoSave = false, the previewer does not work anymore and the (on update) event does not trigger anymore

[2012-07-03 03:44] OscarGodson commented on #141
The `update` event only fires when a file is updated. If autoSave is off and you never call `editor.save()` manually it won't fire `update`, because, well, the file was never updated. This also reminds me that setting autoSave off wont really work actually, sorry. It just stops it from saving automatically, but for things like preview, CRUD events, etc it'll need to be saved and saving requires lo

[2012-07-03 03:50] OscarGodson commented on #137
FYI @TotallyInformation I'm going to implement a way to disable localStorage since I've had a couple people request this off GitHub and recently @levint from ticket #141. I want to get this in develop this week.

[2012-07-03 04:12] levint commented on #141
Ok I could live with it for now but how do I configure it in such a way that when everytime the page loads, the content area will be blank. ( I don't want it to be filled with the localStorage data when the page loads). Or, everytime the page loads, clear the localstorage data

P.S. im a backend dev.. not much skills on client side

[2012-07-03 04:38] OscarGodson commented on #141
You could just do `localStorage.clear()` above EpicEditor. Or, you could do `editor.importFile(null, '');`. But realistically you should `importFile` your data from your DB and it shouldn't ever have to read from localStorage on load it should directly come from your DB.

[2012-07-04 20:46] OscarGodson commented on #141
@levint could you pull develop and let me know if this will work for you now? I added an option `clientSideStorage` and if you set that to false it shouldn't write OR read anything to localStorage, but all the API calls and events should fire like normal (like `update`).

 I haven't added the docs or tests for it yet so hopefully it doesn't break anything, but if it does let me know! :)

[2012-07-04 20:47] OscarGodson commented on #137
@TotallyInformation Could you pull develop and let me know if the new commit fixes your issue? If localStorage is undefined it writes to an empty object just like you did above. Also, while I was in there I added a boolean `clientSideStorage` option which you can forcefully make it not use localStorage by setting it to `false`.

I haven't added docs or tests for this yet, but all tests pass. If it

[2012-07-04 21:40] OscarGodson commented on #137
Added docs and tests, so closing, but feel free to reopen if you are still having problems.

[2012-07-04 21:40] #137 closed, assigned to nobody

[2012-07-04 21:40] OscarGodson commented on #141
Added docs and tests, so closing, but feel free to reopen if you are still having problems.

[2012-07-04 21:40] #141 closed, assigned to nobody

[2012-07-05 03:34] levint commented on #141
Thank you! It's working great :)

[2012-07-05 07:00] OscarGodson commented on #141
@levint Glad to hear it! :thumbsup:

[2012-07-06 06:53] bingomanatee opened #143 "How do you set the width of the editor?"
Basic question; where / how is the width of the editor set?

[2012-07-06 07:03] OscarGodson commented on #143
It's automatic. The editor is placed in whatever container you give it.

[2012-07-06 07:05] johnmdonahue commented on #143
To add to that: if you explicitly set a width on the container it will use that, otherwise it will be as wide as any parent allows.

[2012-07-06 07:07] OscarGodson commented on #143
Yes, so, in your CSS you could do:

[code]

Check out the CSS on http://epiceditor.com

[2012-07-08 21:35] OscarGodson commented on #143
Closing for now. Reopen if we didn't answer your question or something isn't working :)

[2012-07-08 21:35] #143 closed, assigned to nobody

[2012-07-09 07:38] pawelphilipczyk opened #144 "Alt-O not working (OSX)"
Hi,
Alt-O (Opt-O) combination is not working for ó and Ó which is Polish character under this shortcut.
I guess in otherl languages this might be the issue as well.

[2012-07-09 14:37] OscarGodson commented on #144
If you're doing alt+o then yes, it'll catch that key and prevent the input. This is tough because I'd love to have shortcuts and I know a lot of people use them, but no shortcut is going to work across the board (i think).

If you're adding this to your site and it gets mostly Polish visitors you could disable the shortcuts via the options.

Do you have any suggestions on shortcut combos or other

[2012-07-10 06:43] pawelphilipczyk commented on #144
If I can disable the shortcuts then there is nothing more I'd suggest.

This is fantastic editor and thank you for making it!

[2012-07-10 06:49] pawelphilipczyk commented on #144
After a moment of using the shortcuts I do have a suggestion that may be not only fixing this problem but also be a usability improvement.
The Alt-P for preview could switch edit/preview mode not just switch to preview mode. So there would be just one shortcut combo for toggling this.

[2012-07-10 15:13] OscarGodson commented on #144
Great idea! It also makes sense since we have a single preview/edit toggle button. I'm going to put this on the 1.0 milestone and try to get it into the `0.1.2` release.

[2012-07-12 14:11] ericlbarnes opened #145 "Ability to inject text after EpicEditor is loaded"
Maybe this feature already exists and I missed it. What I would love is the ability to dynamically add text into the editor after it is initialized. For instance I want to use mousetrap.js http://craig.is/killing/mice so we can have shortcuts for various things.

[2012-07-12 15:02] ericlbarnes commented on #145
doh - `editor.getElement('editor').body.innerHTML += "My appended text";`

[2012-07-12 15:02] #145 closed, assigned to nobody

[2012-07-12 15:12] OscarGodson commented on #145
@ericbarnes Yes, thats one way of doing it, but kinda kludgy :) There's an option if you want the same text in all new editors:

[code]

And if you add stuff dynamically:

[code]

[2012-07-12 15:13] OscarGodson commented on #145
Curious what your project is too. What are you doing with the editor and mousetrap together?

[2012-07-12 15:20] ericlbarnes commented on #145
Thanks for the follow up and I agree that is much nicer.  Currently building a support type app where people can have a saved list of responses. So when they are typing a response they can type something like ;forgotpass and it auto completes into "Sorry you are having issues with your password. Please follow these steps.... "

[2012-07-12 15:23] OscarGodson commented on #145
Very cool. Yeah, `importFile` should work for you fine then. Also, unlike your method above, this will trigger all the CRUD events too if you ever need them. Send me a demo when it's ready ;)

[2012-07-12 22:16] bootstraponline opened #146 "Split mode normal screen ( Add fullscreen APIs )"
Is it possible to have a split mode without forcing the user to enter full screen?

[2012-07-12 22:19] OscarGodson commented on #146
You mean like native fullscreen in Chrome? Not with an option, but I'll add it. Maybe a boolean `useNativeFullscreen`. I'll add it to the 0.1.2 release.

For now tho you can do it manually in the source pretty easily. I think you can just change this line (401): https://github.com/OscarGodson/EpicEditor/blob/68997cba2bbaaf4c8b4ac44bfe03966ecee33d97/epiceditor/js/epiceditor.js#L401

to be `false`.

[2012-07-12 22:21] bootstraponline commented on #146
I mean [something like this](http://bootstraponline.github.com/livepreview/public/). It's split screen, however I didn't have to press F11 to enter "full screen mode." It would replace the "switch to preview mode" because it would be split screen for previewing, without requiring full screen. It'd be nice to have as an option.

[2012-07-12 22:23] OscarGodson commented on #146
No, again, but it'd be super easy to add. I'll add an API call to enter fullscreen as well as being able to turn off native fullscreen so that you could do like:

[code]

And it'd look like your example. I'll try to get both of these in.

[2012-07-12 22:25] bootstraponline commented on #146
That'd be great!

[2012-07-12 22:40] bootstraponline opened #147 "Syntax highlighting"
[Ace](https://github.com/ajaxorg/ace) provides syntax highlighting for markdown. It'd be nice to have a similar level of syntax highlighting for markdown in EpicEditor.

[2012-07-12 22:43] OscarGodson commented on #147
We most likely wont do syntax highlighting out of the box simply for the fact it's specific to people who write code which is a small percentage of the population.

However, since I do write code ;) I want it and @johnmdonahue and I have had this planned for awhile but as an EpicEditor package/plugin. Once we get packages done this will probably be one of the first ones we do. I marked it as an ex

[2012-07-12 22:50] bootstraponline commented on #147
I'm not asking for general purpose programming language syntax highlighting (although that would be nice). What I meant is syntax highlighting for Markdown.

Here's [an example](http://bootstraponline.github.com/livepreview/public) of Ace's markdown syntax highlighting. Type in some markdown and compare it to what happens when you enter markdown into Epic Editor.

Syntax highlighting markdown help

[2012-07-12 23:46] justinkelly opened #148 "Add Markdown syntax guide"
1 feature that would be useful is to add a markdown reference button in the UI as an icon

so if someone doesnt know markdown they can click the button and it provides a summary of the mardown syntax

Cheers

Justin

[2012-07-12 23:51] OscarGodson commented on #148
This would probably be an extension. EpicEditor is moving away from purely being an Markdown editor. It'll always have Markdown as the default parser, but it's meant to be any kind of editor you want. So, we'll probably end up making a MD guide as a EpicEditor package.

Great idea tho! i'll add it to the list of extensions we should make after we build out the extension stuff. :)

[2012-07-12 23:55] OscarGodson commented on #147
See my comment here: https://github.com/OscarGodson/EpicEditor/issues/148

We are trying to decouple Markdown as the parser. We'll always have markdown as the default, but it should work out of the box with any kind of parser you need whether it's wiki, textile, HTML, etc.

So, it'll still be an extension and we're actually working on something like what Mou does which will work with all types of

[2012-07-12 23:56] justinkelly commented on #148
thanks oscar for the reply - great work on the editor - hopefully this gets implemented as an extendible feature in the future
- so if you using epic for rst you would get a rst guide etc..

[2012-07-12 23:57] bootstraponline commented on #147
That sounds great.

[2012-07-13 00:04] OscarGodson commented on #148
Yep! we'll probably provide hooks into a few things. Now that you mentioned that it'd be a great idea if packages could include syntax guides which are all formatted and styled the same, you just need to write it. Thanks!

[2012-07-13 01:43] ianlandsman commented on #106
+1 on this. I would add that having this for the editing pane would be awesome also in case you wanted to do some custom stuff in there.

[2012-07-13 03:33] Le-zz-ge-zz-n-zz-d commented on #148
@OscarGodson: Could you please clarify what you mean when you say "EpicEditor is moving away from purely being a Markdown editor"? What is moving towards? Sorry if this comes from nowhere - I saw this on HN today and was checking it out.

[2012-07-13 03:39] Le-zz-ge-zz-n-zz-d opened #149 "Add a short tutorial on how to write a custom parser"
I am very interested in looking at how to efficiently write a parser. It would really be beneficial to have a short tutorial on how to write a small custom parser rather than a demonstration using Showdown or Marked.

[2012-07-13 03:59] OscarGodson commented on #149
It really depends on what the parser is parsing on how to make it efficient. I personally haven't ever written a real parser, so I might not be the best person to ask :)

Or, do you mean strictly for EpicEditor? In that case you just write whatever you want and have it return a string. This would, "technically" be the most effcient parser:

[code]

[2012-07-13 04:05] OscarGodson commented on #148
@Legend It's moving towards a general purpose editor that's easily extendible by developers via it's API's and extension API's but also a really slick editor for the users. We don't want to require developers or users to use markdown to use the editor. For example, wikipedia could put it in and swap it out by just including http://remysharp.com/downloads/wiki2html.js and then doing:

[code]

We ju

[2012-07-13 04:06] Le-zz-ge-zz-n-zz-d commented on #149
@OscardGordan: I see. Thank you for the response :) I was just wondering if there were any special requirements because of the following: In the full-screen mode, when you show live-previews to the right, I am assuming that it sends the entire text to the parser (or please correct me if I am wrong and skip the rest of this post).

So I was just curious if EpicEditor does anything fancy here. For i

[2012-07-13 04:08] OscarGodson commented on #149
Currently It just sends the entire thing to the parser. To save on performance it only does this after you pause typing for `250`. We haven't gotten that far into that granular of optimization, but hope to someday. :)

[2012-07-13 04:08] Le-zz-ge-zz-n-zz-d commented on #148
@OscarGodson That makes a lot of sense. Thank you for the clarification and of course, your wonderful work!

[2012-07-13 04:10] Le-zz-ge-zz-n-zz-d commented on #149
@OscarGodson Fair enough. I'm currently working on using this on larger text chunks. I'll see if there is a big performance hit and think about further solutions otherwise whatever is done will end up as pre-mature optimization. Thank you for your time.

[2012-07-13 04:10] #149 closed, assigned to nobody

[2012-07-13 05:54] maxpert opened #150 "VIM keys"
It would be nice to have VIM styled keyboard support for the system. It can really make a huge difference especially for developers like me!

[2012-07-13 14:18] timofurrer commented on #150
Great idea ;)

[2012-07-15 00:29] bingomanatee opened #152 "How to clear the editor? [file methods should work when editor is not loaded]"
I am having trouble clearing "History" from the epicEditor. Every time I return to the editor it has my old ocntent in it.

My code here:

[code]

doesn't do the trick - I'd expect to see "foo bar" but I see whatever I typed last visit.

How to ensure you are starting with a cherry entry field?

Thanks

Dave

[2012-07-15 00:32] bingomanatee opened #153 "Some help with editor content flow"
I would like to estalish the following work flow:

1: use epic editor to create marked-up content.
2: save the smallest possible version of the code (sent to Node.js via Ajax, saved in a textfield in mongo)
3: present the formatted content on a new page. (prob. format it on server side w/node.js).

What is the best way to format the streamlined content and what is the best way to export from your

[2012-07-15 00:50] OscarGodson commented on #153
You can export the raw editor content with just `exportFile()`. What do you mean "format the streamlined content" exactly? You can't really change the content much since whitespace matters for line breaks and stuff, but `exportFile()` should give you what I think you want :) Does that help?

[2012-07-15 00:57] OscarGodson commented on #152
You shouldn't have to clear the localStorage and we don't use sessionStorage. `importFile` will just overwrite what you have. The problem is you're trying to `open` which puts content into the editor and the editor doesn't exist yet. You should actually see an error in your code above.

Try moving your load to above the `open` and `importFile` call like in my working example below:
http://jsbin.co

[2012-07-15 05:13] bingomanatee commented on #152
I have put this code from your sample into my page

[code]

but it only seems to work once; after that, the content continues to get sticky.

Is there any other bit of JS I can use to forcibly change the content, in the dom or the editor?

Dave

[2012-07-15 05:27] OscarGodson commented on #152
Hmm, I can't repro here. The JSBin link also doesn't reproduce what you're saying for me. Does the JSBin link do it for you? For me each refresh it says "foo bar" no matter what I put in there before. `importFile` should overwrite what's ever there. Also, `importFile` automatically opens the file so you should be able to get rid of that open line.

This is where it sets the text: https://github.co

[2012-07-15 16:59] bingomanatee commented on #152
While not ideal, I found that lobotomizing all references to localStorage seems to obviate the problem.

I am working on my blog - it is all in local development but I should have it in a week or so at which point I'll push up a link.

Thanks for your help... Dave

[2012-07-15 17:04] bingomanatee commented on #152
I have put in (verbatim) what I see in your code

[code]

[2012-07-15 17:26] OscarGodson commented on #152
So do you have the same issue at that JSBin link? If so what's your browser, version, and OS? I'm worried this is an actual bug of some kind. But yes, please send a link when you get a chance without your hacks that is a reproducible case

[2012-07-15 19:02] bingomanatee commented on #152
I should be fairly close to being able to show you working /
nonworking examples.

On Sun, Jul 15, 2012 at 10:26 AM, Oscar Godson
reply@reply.github.com
wrote:

[2012-07-17 02:10] OscarGodson commented on #153
closing this for now since there hasn't been a reply. Feel free to reopen if the above didn't help.

[2012-07-17 02:10] #153 closed, assigned to nobody

[2012-07-17 02:16] OscarGodson commented on #88
I'm thinking about changing `getState` to just `is`. You could then use it like:

[code]

Doing this in 0.1.2 because I'd like to use it internally for ticket #146 and #152 where I'll be working with editor states more.

[2012-07-17 09:05] samdark opened #155 "Incorrect markdown → html transition in Opera"
At the project website Opera translates markdown text into incorrect HTML.

[2012-07-17 15:06] OscarGodson commented on #155
Thanks for the report. We haven't tested much in Opera, but the little testing we did showed it needed a lot of work. In fact, more work than IE which makes me sad. The Opera browser share is tiny, so I'll try to get to this, but IE and mobile will come first unless someone wants to send a pull request :)

[2012-07-18 05:26] OscarGodson commented on #144
@pawelphilipczyk can you pull develop? @jeffhill actually sent a pull request for this and fixed it! I just pulled it in and tested it and it appears to be working good for me :)

[2012-07-18 05:26] #144 closed, assigned to nobody

[2012-07-18 07:24] pawelphilipczyk commented on #144
I've pulled it and tested it. The Alt-P works fine and Alt-O no longer blocks my ó character. I have other problem but this might be not related to EpicEditor at all. I'm using it with Drupal and [EpicEditor](http://drupal.org/sandbox/erikwebb/1674176) module. After hitting Alt-P the textarea loses focus and to switch back to edit mode I have to click it before I can hit Alt-P again. I'll check th

[2012-07-18 13:28] CashWilliams commented on #144
I'm cross posting this from the Drupal issue linked above.

What I'm seeing is that Alt-P enters Preview mode, but pressing P again (without lifting Alt) does not return to edit. However, if I lift all keys, and then press Alt-P, I will return to edit mode.

This may be a limitation of the OS?  (OSX 10.7 for me)

[2012-07-18 13:35] pawelphilipczyk commented on #144
I thought I have to click the textarea but you're right - it's lifting the Alt key that needs to be done. I'm on OSX 10.7 as well.

[2012-07-18 15:12] OscarGodson commented on #144
@CashWilliams @pawelphilipczyk Yes, this is an annoying patch I had to make for a pretty major bug. The bug (#133 and #127) would prevent you from typing any shortcut characters (`f`, `s`, `p`, and `o`) at all into the editor mainly on Windows, but sometimes Mac and Linux.

The problem is that when you hit alt+p to preview the focus on the editor is lost and the focus goes on the previewer therefo

[2012-07-18 15:14] OscarGodson commented on #144
I should add that I went with this fix because if you aren't just playing with EE you probably wouldn't need/want to flip from preview to edit immediately. More than likely you'll switch to preview, read your preview, maybe scroll the preview, etc _then_ flip back to edit mode.

If this does become a major problem tho out in the wild we'll try to come up with some other more clever solution.

[2012-07-19 06:44] OscarGodson commented on #152
Since it's been about 4 days I'm going to close this. If you can let me know if the JSBin link is a reproducible case or more info about the problem let me know and we can look into it more.

[2012-07-19 06:46] OscarGodson commented on #152
Actually, I take that back, I've updated the title. This is still a stub to make it so you can do file manipulation without needing to load the actual editor.

[2012-07-19 06:50] OscarGodson commented on #6
I'm going to check for Safari in 0.1.2 and have it use the faux fullscreen since getting real fullscreen to work seems to be too hard.

[2012-07-19 06:51] OscarGodson commented on #10
This can be closed because of #137 - if localStorage isn't enabled we simply write to a plain JS object and data is lost between refreshes, but no errors occur.

[2012-07-19 06:51] #10 closed, assigned to nobody

[2012-07-19 10:55] narfdotpl opened #156 "Add editor.goFullscreen()"
I'd like the editor to go into the fullscreen mode immediately after `editor.load()`. Is that possible? If not, it would be great, if you could add a public `goFullscreen()` method.

[2012-07-19 14:59] OscarGodson commented on #156
Working on it from #146. Question: would you like `fullscreen()` to toggle opening and closing (like it does internally), or would you rather have an explicit `exitFullscreen()`?

[2012-07-19 15:00] OscarGodson commented on #146
@bootstraponline quick question, would you rather have `fullscreen()` toggle opening and closing fullscreen (like it does internally) or would you rather have an explicit `exitFullscreen()`?

[2012-07-19 15:40] narfdotpl commented on #156
Great!

I'm OK with `fullscreen()` that toggles, but I think it should be accompanied by a `isFullscreen` attribute/method.

[2012-07-19 15:57] OscarGodson commented on #156
There's two other things I'm working on that will take care of the `isFullscreen`. First is a public method on our `eeState` object which holds the state of EpicEditor. You'd be able to do `.is('fullscreen')` (ticket #88, working on it). Also, as with as many events as we can, there's a `fullscreen` and `fullscreenexit` event that gets fired as well.

This code is actually finished but I'm writing

[2012-07-19 16:25] bootstraponline commented on #146
I'd prefer `exitFullscreen()` so that it's a no-op if the editor is not already in full screen mode.

[2012-07-19 16:25] bingomanatee commented on #152
Lets see what happens when I take my project out of localhost.

[2012-07-19 16:28] CashWilliams opened #157 "Drag and Drop file import"
It would be a nice feature to allow a user to 'drag & drop' a file from their local file system onto the editor. This would then open the file and import the contents into the editor. Something like editor.open() or editor.importFile().

Should only work with markdown files, so probably .md and .txt.

Also, this drag and drop feature may only be a feature of Chrome.

[2012-07-19 21:16] sebnitu opened #158 "Need a way to trigger `resetWidth` aside from window resize"
The issue I'm having is that in some instances I'm hiding EpicEditor's container and if the browser get's resized the width of the editor's width gets set to `0`.  Then when EpicEditor's container gets toggled, the editor's width is still set to `0` and isn't shown until another window resize is triggered.

Or maybe there's another way of doing this? Maybe don't fire the `resetWidth` function if t

[2012-07-19 21:30] OscarGodson commented on #158
Hmm, this is a good question. I'd have to look into the code and see how hard it'd be to check for a hidden/unhidden state set by something else (like some random bit of JS or CSS).

Until then have you tried using `unload` to hide it? Unload is supposed to make it so you can hide and show the editor and not lose the state of when it was loaded (like the demo button on the docs site). I believe lo

[2012-07-19 22:25] sebnitu commented on #158
Yup, that works perfectly. So just hiding the container is definitely not the way to go. Only thing I had to make sure to do is check the state of the editor before calling load or unload to prevent any errors from showing up.

Example:

[code]

Awesome, thank you :D

[2012-07-19 23:02] OscarGodson commented on #158
Cool, yeah I'll try to get `is()` done tonight or something maybe. eeState is supposed to be private (it needs an underscore).  But once I get #88 done, should be easy, you could do

[code]

[2012-07-19 23:02] #158 closed, assigned to nobody

[2012-07-19 23:18] OscarGodson commented on #158
Question tho, what errors showed up and why? Doing unload if the editor was unloaded?

[2012-07-19 23:31] sebnitu commented on #158
I got this: `Uncaught Error: Editor isn't loaded` when I call `unload` on the editor that is already unloaded, yes. I don't get any errors when calling `load` on an already loaded editor.

Something else (which I'm sure I'm just doing it wrong) here is how I'm initializing EpicEditor:

[code]

Not sure if this is how I'm suppose to do it but if I don't load it first, then unload, I get an error la

[2012-07-19 23:45] OscarGodson commented on #158
Thanks, this is really helpful. I've been building the editor so much I haven't had a lot of time to actually implement it anywhere for real so I don't know real life issues and use cases.

The error you see is an error I'm throwing myself to notify the developer. It's not actually harmful and wont break anything. I was working on a way to by default hide those unless you _want_ to see them here i

[2012-07-20 00:26] sebnitu commented on #158
That's pretty much how I am doing it. The problem is that if it's not initially loaded, I don't have access to `eEditor.eeState.loaded` and `eEditor.eeState.unloaded`. I get this: `Uncaught TypeError: Cannot read property 'loaded' of undefined`.

[2012-07-20 01:24] OscarGodson commented on #158
mm, good point. This will be fixed once I get the `is()` thing done. I'm done with the `fullscreen()` shit now so I'll try to get `is()` done tonight. For just now to fix it you could do, in your JS:

[code]

Basically, just manually set them before using them in the if/elses

[2012-07-20 03:26] hongymagic opened #159 "TAB key to indent/insert tab character"
Hi,

I have hacked up initial version of `TAB` insertion in [my own fork](https://github.com/hongymagic/EpicEditor/commit/efdee33ec96e66968415658becfae3e2a890b5f0) (note: it's initial and does not support `shift-tab` combination yet).

I just wanted to start up a discussion around supporting `TAB` keys. The reason why I ask is because it has come to my attention that not everybody agrees with `TAB

[2012-07-20 04:05] OscarGodson commented on #159
I for one love this idea. :+1:

I wanted to get this in there eventually. I'm almost certain people will want to disable this tho for some reason or another. Why not just throw a `smartTab` option in there? `smartTab` could default to `true` and "smart" tab because it makes tabs work like a real text editor.

It'd also be super awesome if you could get it so it remembers the indentation of the las

[2012-07-20 04:29] hongymagic commented on #159
As @OscarGodson said:

That is one way to handle differences I guess! I will gladly add another option `smartTab`.

I agree this would good too. Will definitely take this into account.

I noticed that too, I am assuming my vim settings didn't match EOL of the file. Don't worry, I will create a new branch and make sure current code/file formatting rules are followed.

Thanks!

[2012-07-20 04:41] OscarGodson commented on #159
No worries! Was just curious. Do you think it should be plural or singular? `smartTab` or `smartTabs`? I'm leaning towards plural now that I say it out loud.

[2012-07-20 05:56] OscarGodson commented on #156
@narfdotpl Alright, pull develop! I've added the fullscreen API stuff. There's 2 new methods `enterFullscreen` and `exitFullscreen` as well as 2 new events `fullscreenenter` and `fullscreenexit` _and_ an option to `useNativeFullscreen` so you can turn off native fullscreen if you want.

Let me know if this is what you expected and is working well!

[2012-07-20 05:56] #156 closed, assigned to nobody

[2012-07-20 05:56] OscarGodson commented on #146
@bootstraponline Alright, pull develop! I've added the fullscreen API stuff. There's 2 new methods enterFullscreen and exitFullscreen as well as 2 new events fullscreenenter and fullscreenexit and an option to useNativeFullscreen so you can turn off native fullscreen if you want.

Let me know if this is what you expected and is working well!

[2012-07-20 05:57] #146 closed, assigned to nobody

[2012-07-20 06:00] OscarGodson commented on #146
Also I did an example for you :) http://jsbin.com/aketom (http://jsbin.com/aketom/edit)

Less code than originally expected, now just:

[code]

[2012-07-20 08:18] sebnitu opened #160 "Need a way to resize height (and width?) of editor on the fly"
Here's how I'm currently doing this:

[code]

`editor_markdown` is the editors container.

I have to call jQuery UI's resizable method on the wrapper after it's been loaded or else it will override the HTML it puts in it with the iframe. I then have to bind the resize trigger so I can load EpicEditor again so it resizes itself to fit in the newly resized container. But after that it overrides the

[2012-07-20 11:00] hongymagic commented on #159
`smartTabs` should do the trick =)

It turns out, those lines that were deleted weren't entirely empty :) I've set my vim to remove any trailing spaces on `save`. Disabling it seems to leave those lines as-is.

[2012-07-20 11:06] narfdotpl commented on #156
Thanks, works great! :sparkles:

[2012-07-20 11:54] dadambickford commented on #157
I believe the jQuery UI has drag and drop methods, but i'm not sure how to
implent them here, that would be up to Oscar, but I think it sounds cool.

On Thu, Jul 19, 2012 at 9:28 AM, Cash Williams <
reply@reply.github.com

[2012-07-20 13:44] OscarGodson commented on #159
Oh, yeah, I see them too in my vim (they're highlighted red) its cool to
strip them out. No worries.

On Friday, July 20, 2012, David Hong wrote:

[2012-07-20 15:02] OscarGodson commented on #160
When I added the `resetWidth` function awhile ago I originally tried to do it as `resetDimensions` or something. However, I was having an issue where when you resized the width the height would grow no matter what by a certain amount of pixels. I couldn't figure it out for the life of me so I gave up and ended up just doing `resetWidth`.

So, this _should_ be easy, but I couldn't figure it out las

[2012-07-20 16:13] bootstraponline commented on #146
Wow! That's perfect.

[2012-07-20 17:49] OscarGodson commented on #146
Glad to hear that!

[2012-07-20 17:53] #88 closed, assigned to nobody

[2012-07-20 17:55] OscarGodson commented on #158
@sebnitu I added the `is()` method. `eeState` was also changed to `_eeState` to denote it's the private way to get the state of the editor. Docs are in there also but you can now do `if(eEditor.is('loaded'))` now.

[2012-07-20 18:50] sebnitu commented on #158
Yes, this works perfectly! Thank you :D

[2012-07-20 19:13] sebnitu commented on #160
Sweet, thanks man!

In the mean time, I've got a working solution. Incase anyone else wants to do something similar, what I did is this:

**Markup**

[code]

**JavaScript**

[code]

**CSS**

[code]

The reason I have that resize mask div is to cover up EpicEditor while the height is being adjusted. The problem was that if I moused over it while resizing, it would lose focus on the handle.

Video d

[2012-07-20 19:31] OscarGodson commented on #160
That actually looks pretty decent! Thanks for posting that. I'll try to look into making some kind of API call tho too.

[2012-07-20 19:32] OscarGodson commented on #160
P.S. I added color syntaxing to your comment. Reading all that without it was hard ;) If you didn't know you could just do ```{lang-here} like ```css. I think you can click edit to see the change.

[2012-07-20 19:48] sebnitu commented on #160
Oh awesome, I didn't know about that! Thanks :D

[2012-07-20 19:59] techwraith commented on #160
@OscarGodson Does this work in EE too?

[2012-07-20 20:19] OscarGodson commented on #160
@techwraith which thing?

[2012-07-20 20:34] techwraith commented on #160
@OscarGodson The ```js thing :)

[2012-07-20 21:08] sebnitu opened #161 "Preview state is not being retained on unload & load"
Sorry, I know I'm making a lot of these :P

Just noticed that when the Editor is loaded it doesn't keep it's previous state (preview mode) and just defaults to edit mode. Is this intended?

[2012-07-20 22:56] OscarGodson commented on #161
That'd be a bug. That's something that I just overlooked. I set it to go to edit mode on load, but it should actually check if a state exists, and if a state exists use that otherwise default to edit. I'll get this into the 0.1.2 release also.

[2012-07-20 22:59] OscarGodson commented on #160
@Techwraith Yes/no. It does output the correct HTML:

[code]

but we just haven't added the syntax coloring stuff yet. It wouldn't be hard on the developer end tho. Just inject a script tag to the previewer. We want to add this soon tho.

[2012-07-20 23:00] OscarGodson commented on #157
@dadambickford I think he's talking more about dragging an actual file into the browser window, dropping it, and the content appearing in the editor not moving elements around the page.

[2012-07-21 01:31] OscarGodson commented on #161
@sebnitu Can you pull and try now? The change was pretty simple, but I did some cleanup. All tests pass still tho.

If you're interested:
I was setting the state at the top to edit on each load. Now I check if edit and preview state is false and if they're both false (first load) then I set it to edit. I also cleaned up how I was setting it to edit/preview. Before I was just display none-ing the p

[2012-07-21 01:31] #161 closed, assigned to nobody

[2012-07-21 03:15] sebnitu commented on #161
Awesome, works like a charm :D

[2012-07-21 03:18] OscarGodson commented on #161
Nice! Keep the bug reports coming :)

[2012-07-21 23:23] sebnitu opened #162 "Injecting content/markup at cursor location"
Would be an awesome feature to have. I know I would put it to good use :)

[2012-07-22 17:34] OscarGodson opened #163 "Handle unload()ing while in fullscreen"
It kinda just breaks if you do it now.

[2012-07-23 23:27] doginthehat commented on #159
+1 gimme tabs!

(it's the first thing I tried in the editor and was a tad disappointed it didn't work)

[2012-07-24 01:29] OscarGodson commented on #159
@doginthehat Yep. I want it to. I write lots of code docs so it kinda sucks not having the feature. I've just never gotten to it because the normal end user probably wont ever use the feature since it'll mostly be used in CMSs. But, yes, @hongymagic magic seems to be on it ;)

[2012-07-24 02:07] OscarGodson commented on #6
have the nasty fix in there for now. We'll need to open a new ticket if Safari ever gets fixed

[2012-07-24 02:07] #6 closed, assigned to dadambickford

[2012-07-24 02:48] doginthehat commented on #159
Cool. Maybe @hongymagic could submit a pull request?

[2012-07-24 03:04] OscarGodson commented on #159
Yeah that's what he's working towards. He has 3 feature branches already and committing code! :thumbsup:

[2012-07-24 15:17] OscarGodson opened #164 "In Firefox you can't type HTML tags"
I was trying to test another thing and I typed some HTML like `<h3>FOO</h3>` and previewing and going back wiped the HTML out because of how we shimmed `innerText` for Firefox.

[2012-07-24 15:28] OscarGodson opened #165 "In IE9 clicking a hash link scrolls the parent window"
It scrolls the parent window AND the iframe to put the element the anchor is linked to in view. We only want to scroll the iframe.

[2012-08-01 06:49] LucaRosaldi commented on #27
That would be great. Don't forget to display the "preview" and "fullscreen" options which are on hover, though. When I first heard of EE, I opened the demo page with an iPad, I tried the editor and thought "so what?", before having a quick glimpse of the two icons in the right bottom corner and realizing there were other options.

[2012-08-01 07:06] OscarGodson commented on #27
@lucasrosaldi yep! The editor should have a different look for iOS altogether and will need to work with touch events. Hopefully I can get to this in the 0.1.3 release.

[2012-08-09 06:38] OscarGodson commented on #4
Holy shit. This is actually going to finally happen 6 months later. It's getting closer. Prepare for IE8 support! WHEE

[2012-08-11 06:16] philipaconrad opened #170 "In FireFox 14.0.1, iframes can get pushed offscreen if an odd number of pixels are in the viewing area."
FireFox 14.0.1 rounds all iframe sizes up to the nearest full pixel it seems.

This means that if a user has an odd number of pixels inside the browser viewing area, it will result in a fractional window size, like **733.5px;**. As a result of the round up, one iframe will push the other out of the viewable area, below where people can see it.

If there is a way to forcibly round iframe sizes down

[2012-08-11 06:33] OscarGodson commented on #170
Interesting. Do you have an example of this I can see?

[2012-08-11 06:44] philipaconrad commented on #170
If you have Firefox 14.0.1, you can just resize your browser window until it occurs.

If you like, I can post "before odd-pixel resize" and "after odd-pixel resize" pictures for you.

[2012-08-11 06:56] OscarGodson commented on #170
Is it reproducible for you on http://epiceditor.com ? I can't repro it there anyway on the same FF version. Is it only fluid width editors?

[2012-08-11 06:58] OscarGodson commented on #170
I'm probably just missing it, but I can't see any weirdness on my side for fluid width containers too: http://jsbin.com/owirij/3

[2012-08-11 07:14] philipaconrad commented on #170
I'm able to reproduce it when EpicEditor is served from a python localhost server, but I was not able to reproduce it on [http://epiceditor.com](http://epiceditor.com).

Command line phrase used to create the webserver:
`$ python -m SimpleHTTPServer 8000`

[2012-08-11 07:19] philipaconrad commented on #170
I'll try doing a clean clone on EpicEditor tomorrow and see if it still happens.

[2012-08-11 15:00] OscarGodson commented on #170
That python server is how I do all my testing :) Yes, let me know if you can get a test case on JSBin so I can see what you mean and also work against.

[2012-08-13 03:24] OscarGodson commented on #170
Any luck? Since it's been around 48hrs I'm going to close this since I can't reproduce. Feel free to reopen if you can get a test case online I can see so I can test against it. Thanks!

[2012-08-13 03:24] #170 closed, assigned to nobody

[2012-08-16 08:12] vicalloy opened #171 "Firefox will auto add line break"
my text is

[code]

and exportFile() get

[code]

[2012-08-16 11:55] dux opened #172 "How to replace selection in editor with custom text"
let's say I want to make "bold button". I should be able to
- capture selection
- wrap it with **.
- replace selection

I do not see easy way to do that, please help.

[2012-08-16 11:58] dux opened #173 "How to create custom buttons that are visible in full screen mode?"
My custumers simply can't live without h2, h3, bold, italic, insert link and image buttons.

[2012-08-16 15:17] OscarGodson commented on #173
The ability to add buttons is coming soon thanks to @hongymagic here: https://github.com/OscarGodson/EpicEditor/pull/166

Basically you'd just style the buttons however you want and add click handlers yourself and then you could literally just do:

[code]

To make bold text. I believe he's just finishing up a few more bugs.

As for putting them in fullscreen, that's a little tricky, but can be don

[2012-08-16 15:20] OscarGodson commented on #172
As in the #173 ticket, once @hongymagic 's pull request is finished you'll be able to do:

[code]

Soon! I know @hongymagic has been doing a _lot_ of work on this and it's greatly appreciated. It'll add a lot more extensibility to EpicEditor and we're really excited about it.

Just for that :)

cc: @johnmdonahue (use case, see the attached ticket also)

[2012-08-16 15:21] OscarGodson commented on #172
Oh, something else, you _could_ merge his pull request into your project for now to be able to use his API's he's added. Just know it's WIP, but once it's in develop all the bugs will be worked out and you'll be able to merge develop back in or replace your epiceditor.js file with the latest one.

[2012-08-17 15:23] OscarGodson opened #176 "Production and Development builds"
This was asked for by @yannickoo (twitter handle) because he needs to scrape some data from some of our files. Namely, he wants to be able to programmatically get the version number of his current install with PHP for his Drupal extension. Basically, the production build should have minified everything (CSS and JS), and the development should have minified, unminified, and unminified CSS, and also

[2012-08-17 15:28] OscarGodson commented on #171
What version are you on? I'm not seeing that at all. Are you using export to export the raw text or as HTML?

![](https://img.skitch.com/20120817-cab181jrqhedd86p5uqnx52ydi.png)

[2012-08-17 15:37] fuddl opened #177 "Concept for Plugins: contextual plugins"
other wysiwyg editors have this thing called plugins: buttons that can be clicked to format text. Clients want them. At least they need it in order to learn markdown.

But, what we don't want:

![NO](http://fissl.com/zeug/shit.png)

Because we are cool and minimal. We don't need to see _all_ these plugins if we don't need them. So I thought about plugins that appear if the author _might_ use them.

[2012-08-17 18:07] OscarGodson commented on #177
I like this a lot and it's been something I've wanted to add to the editor for a long time (5 months ago was the original post: #41). 90% of this will be possible to do very soon thanks to @hongymagic 's pull request #166.

I was thinking something like this actually: #113

However, I do like this and here's some of my thoughts
1. What if you know you want a link or bold text? With this spec you'd

[2012-08-17 22:50] fuddl commented on #177
1. Yes I have no Idea yet to make that easier. Or what do you mean?
2. Nothing hinders you to write the h3 headline manually but my approach only tries to _suggest_ what is logical. If the user starts the document with h3 it should suggest h3, h4, h5 and h6. I think the main purpose of this is showing the user how markdown works. As soon as he understands, he won't use the buttons any more ;). And

[2012-08-17 23:00] OscarGodson commented on #177
1. Well, if the buttons were always there for example, clicking the bold text button would create `**|**` where `|` is the cursor.
2. Some people just really like clicking buttons to style things. If you sit with someone who's really not tech savvy you'll see this. They'll type some stuff. Stop. Click the bold button. Start typing again and yeah. They're pretty tedious. The people who need to butt

[2012-08-20 02:00] vicalloy commented on #171
Firefox 13.0.1
- cfg = {"autoSave": False, 'clientSideStorage': False}
- add text and use exportFile() to save it to db.

[code]
- get text from db and use defaultContent to load it.  I can see a blank after every line(a \n?).

[code]

[code]

may some bug in "defaultContent"?

[2012-08-20 05:06] OscarGodson commented on #171
Can I see all your code? Also, not sure if it's part of the problem, but `False` doesn't exist in JS for booleans, you need `false`. `False` will error out (unless you're doing something weird like `False = false`).

Also, `defaultContent` literally just takes what you give it and saves it to the client side storage you specified (in your case a plain object):

[code]

If I recreate what you give

[2012-08-20 05:08] OscarGodson commented on #171
wait you're seeing, literally, `[blank]` or a space?

[2012-08-20 06:27] vicalloy commented on #171
"False" is my python code.
It may cause by "\r\n"

[code]

[2012-08-20 06:29] OscarGodson commented on #171
Yes, that might do it, but how do you reproduce that? When I press enter it only gives me an `\r`?

[2012-08-20 06:59] vicalloy commented on #171
"id_body" is a textarea.
I export it to a textarea and save it to server.

[code]

[2012-08-20 07:16] OscarGodson commented on #171
Even if I write it to a textarea then save it from the textarea's value I'm not seeing `\r\n`s: http://jsbin.com/owirij/11/edit

The `defaultContent` you have above is dynamically getting put there by your Python code, right? Using localStorage and JSBin, can you reproduce this problem to make sure it has nothing to do with your Python code or how the database/form is transmitting the text?

[2012-08-20 08:00] vicalloy commented on #171
"\r\n" is auto added by my python web framework.
I removed "\r" before set to defaultContent.
It work now.

[2012-08-20 08:07] OscarGodson commented on #171
Great :) glad we got it worked out and it wasn't a EpicEditor bug!

[2012-08-20 08:07] #171 closed, assigned to nobody

[2012-08-20 08:07] #177 closed, assigned to nobody

[2012-08-20 08:32] vicalloy opened #178 "lost blank in firefox"
firefox 13.0.1

http://jsbin.com/owirij/13/edit

input

[code]

reload

[code]

[2012-08-20 09:19] OscarGodson commented on #178
Great catch! Your test case should magically work now :)

[2012-08-20 09:19] #178 closed, assigned to nobody

[2012-08-21 09:42] fuddl commented on #39
is this also supposed to work on stuff like lists, blockquotes and so on?

[2012-08-21 10:28] fuddl opened #179 "Automatically add breaks on the line end"
In order to keep the plain text readable also on wide screens, markdown has this nice logic of ignoring brakes at parsing.  So that the user is able to add breaks by himself. Here this could work automatically. So on writing it should constantly check how long the line is and if its too long, it should add a linebreak(+indention) before that last word.

For this it would be necessary to add a line

[2012-08-21 11:11] fuddl commented on #27
Should be renamed to 'Mobile support' since there is not only iOS any more.

In Chrome for Android its a little hard to use right now.

[2012-08-21 12:37] fuddl commented on #124
I like it. Could also be the behaviour when you focus the editor [on mobile platforms](https://github.com/OscarGodson/EpicEditor/issues/27)

[2012-08-21 14:26] OscarGodson commented on #179
Couldnt you simply add some padding or margin on the editor to achieve the same result?

[2012-08-21 14:31] OscarGodson commented on #27
Android would be a different ticket like how there was Safari, IE9, etc tickets. "mobile" support is too broad. If you want, go ahead and make an android ticket tho :) I want to add support eventually for sure, but the main issue is I don't have an android device.

[2012-08-21 14:33] OscarGodson commented on #39
Yeah. The editor doesn't know what kind of text you're writing. Once you press tab it will keep that indent until you outdent.

[2012-08-21 14:43] OscarGodson commented on #179
Here's an example where I just changed the body width to `350px`:

![](https://img.skitch.com/20120821-p7w6d4wupnb76gss6dg4xx7pxu.png)

Is your main concern long links with this?

[2012-08-21 15:00] fuddl commented on #179
That only affects the presentation. The actual text has no css ^^

[2012-08-21 15:01] OscarGodson commented on #179
Yes, absolutely. Why would you want the actual code to have breaks in it? I'm only asking to better understand the use case.

[2012-08-21 15:35] fuddl commented on #179
To make it readable 'as it is'. for example you want to copy and paste it to an email or you save it in a text file or in a database

[2012-08-21 17:18] OscarGodson commented on #179
Awh yes. That makes sense. Great use case. I'll add this to my list :)

[2012-08-23 13:44] cornae commented on #132
That would be great to have.

[2012-08-23 13:59] cornae opened #180 "Creating lists"
It would be great that if you want to create a list by starting a line with '- something' and you hit return, that the next line would automatically start with '- ' (dash space) so that you can quickly create lists.

When the user doesn't write anything and hit return again, then it should remove remove the '- ' and conclude that the list has ended.

[2012-08-23 15:37] OscarGodson commented on #180
Great idea! Added it to our list.

[2012-08-24 10:34] fuddl commented on #180
may be connected to [#39](ttps://github.com/OscarGodson/EpicEditor/issues/39) and [#179](https://github.com/OscarGodson/EpicEditor/issues/179)

[2012-08-24 11:37] fuddl opened #181 "Type in preview mode"
Is it planned to also enable the user to write in the preview mode?

[2012-08-24 11:44] fuddl commented on #27
ok, I thought this issue is about _how should things work on touch devices_ which would affect iOS and Android equally.

I would like that feature and I offer review it on Chrome for Android once there's a pull request.

[2012-08-24 15:31] OscarGodson commented on #27
We want the same experience like we want the same experience across desktop
browsers, but the code to achieve it it a quite a bit different for
different mobile devices. iOS will probably just be the first to implement
the mobile UX because that's what I have. Android would come next.

On Friday, August 24, 2012, fuddl wrote:

[2012-08-24 15:33] OscarGodson commented on #181
Then it'd just be a another WYSIWYG :)

Also, the core editor is buttonless, so how would you make new headers for
example? We're probably going to allow optional Mou style editing tho in
the editor.

On Friday, August 24, 2012, fuddl wrote:

[2012-08-25 08:20] #181 closed, assigned to nobody

[2012-09-10 02:29] jcswart opened #182 "Path to EpicEditor CSS"
Are there known issues with using EpicEditor and Twitter Bootstrap?  Both make use of the class name "container".  My issue stems from the fact that my editor pane does not have any theme, I can type text but I cannot 'see' anything.

When I view the source to see where the EpicEditor iframe's are pulling their CSS and they are not using the proper path.  If I try to manually edit this by setting

[2012-09-10 02:32] OscarGodson commented on #182
There should be no conflicts with bootstrap as its all contained in an iframe. Whats your directory structure look like? As in, where are EEs assets?

[2012-09-10 02:37] jcswart commented on #182
Thanks for the reply.  I am using Laravel a PHP framework.
- Project Root
  - Application
    - Views
      - Admin
        - editor.php (contains my epic editor code, the div where the editor should be viewed)
  - Public
    - epiceditor (all of epiceditors .js and .css files)

[2012-09-10 02:59] jcswart commented on #182
The iframes css links to 'http://localhost:8888/projectroot/admin/edit_post/epiceditor/themes/editor/epic-dark.css'  It is using the current path as the base.  The page's URL in question is http://localhost:8888/projectroot/admin/edit_post/1.  That is where I have my epiceditor.

The css link above SHOULD be http://localhost:8888/projectroot/epiceditor/themes/editor/epic-dark.css, that is where th

[2012-09-10 03:03] OscarGodson commented on #182
Awh ok that makes sense. Youll want to set the `basePath` option to `basePath: '/epiceditor'` in this case.

[2012-09-10 03:12] jcswart commented on #182
Thank you very much Oscar this fixed my problem!  I really appreciate the quick response!

[2012-09-10 03:12] #182 closed, assigned to nobody

[2012-09-10 03:43] OscarGodson commented on #182
:thumbsup:

[2012-09-10 08:25] OscarGodson commented on #4
Closer. If you pull the `feature/ticket-4` branch youll see IE8 "works" now. Its janky, but wont crash anything and no more JS errors. Here's whats left:

1) The editor is misplaced

![](https://img.skitch.com/20120910-d4kc2jyrp7m9gxqh9fy2c2kuny.png)

2) New lines are lost or wrong upon refreshing.

3) You can't see the preview and fullscreen buttons.

4) Keyboard shortcuts arent working at all.

[2012-09-12 08:37] Awea opened #183 "importFile html content"
I don't know if it's an issue or not but if I try something like this :

[code]

It import the html to editor but it interpret it so I have a **h2** title.

[2012-09-12 08:44] OscarGodson commented on #183
So, you're saying the code above, for you, is creating an actual H2 like:

## Blahbla

and NOT

`<h2>Blabla</h2>`?

If so, I can't reproduce. This is what I get:

![](https://img.skitch.com/20120912-d5qymt5rwe1ba4wtw1315im6bw.png)

Can you create a JSBin link with a reproducible case?

[2012-09-12 08:48] Awea commented on #183
I'm using a gem with your editor but I think It's not the latest version of your editor.

[2012-09-12 08:52] OscarGodson commented on #183
If you're talking about http://rubydoc.info/gems/epiceditor-rails/0.1.0/frames

It's not the latest, but it looks like it's 0.1.0. That's only 1 release difference from master. I also don't see any changes to importFile really in the release notes: https://github.com/OscarGodson/EpicEditor/wiki/Release-Notes

Can you reproduce this on http://epiceditor.com somehow?

[2012-09-12 09:14] Awea commented on #183
Okey it come from the browser (Firefox 15.0.1), it work well on chrome (21.0.1180.89)

[2012-09-12 16:13] OscarGodson commented on #183
Awh, yes, this is actually pretty bad it looks like. Even if you type `<h2>test</h2>` it renders it as actual h2 text on refresh. I'll look into hotfixing this.

[2012-09-12 16:17] Awea commented on #183
Exactly ! I don't know why and I'm curious to know :)

[2012-09-12 16:18] OscarGodson commented on #183
Well, more than likely it's because Firefox doesn't support the `innerText` method like Chrome, IE, etc, so we have a shim to make it _try_ to act like innerText. This is probably where the error is happening.

[2012-09-12 16:41] OscarGodson commented on #183
The fix is easy. I need to QA it some more, but all tests are passing and the bug appears to be fixed now and it was in fact something to do with our `innerText` shim (it wasn't converting `<` and `>` back to `&lt;` and `&gt;`). I'll try pushing it up today!

[2012-09-13 02:57] OscarGodson commented on #183
OK! hotfixed! Please test it out on http://epiceditor.com again and see if you can repro. The version number is now `0.1.1.1`.

I also cherry-picked this into develop as well.

[2012-09-13 02:57] #183 closed, assigned to nobody

[2012-09-13 08:25] Awea commented on #183
It works ! Thanks @OscarGodson :)

[2012-09-13 20:11] OscarGodson commented on #164
Fixed from hotfix 0.1.1.1: 78a80c884f7f5b2174864cc67f7f5990dea726b9

[2012-09-13 20:12] #164 closed, assigned to nobody

[2012-09-23 06:24] davidshen84 opened #184 "charset in iframe is not utf8"
i create a epicEditor with default setting, and entered below text:

then i get the content from the editor by using:

[code]

when i post the data to my server, i saw

the spaces are incorrectly encoded

[2012-09-23 06:27] OscarGodson commented on #184
Hmm, I can't reproduce this on my end since I use it everyday with spaces. Do you think adding the UTF8 meta tag will fix this? Could you send a pull request of a fix? If not ill try adding the UTF8 meta tag in another branch and let you try it out.

[2012-09-23 15:39] mxswd commented on #184
Yeah I get this too. It's really annoying. I had to filter unicode out to fix it.

When I use 4 spaces and export, I get 2 unicode chars at the start of the line. So when I pass it to be formatted, it doesn't see the code block.

I can write up a test tomorrow...

[2012-09-23 16:37] OscarGodson commented on #184
Are you on a western keyboard? And are you seeing this in your console when you do exportFile or after it goes into a DB or something else?

On Sep 23, 2012, at 8:39 AM, "Maxwell Swadling" notifications@github.com wrote:

[2012-09-23 17:04] OscarGodson commented on #184
Yeah, tried even changing languages and no luck. What browser, OS, and keyboard setup are you guys on?

[2012-09-23 17:10] mxswd commented on #184
Ok here is the bug.

https://github.com/maxpow4h/EpicEditor/commit/c4969d2d6654c83d56abbad693aa1a42a88a940a

Get the gh-pages branch and make apply that patch / make those 2 changes.
Run the ruby `app.rb` or setup a localhost one of your own.

In the editor write up something like

[code]

Then hit the try button, it does a ajax post to `/api` so you can inspect the chars properly (I think webkit

[2012-09-23 17:24] OscarGodson commented on #184
Until I get a second to play with it, does adding the UTF8 meta tag to the editor fix the issue?

On Sep 23, 2012, at 10:10 AM, "Maxwell Swadling" notifications@github.com wrote:

[2012-09-23 17:29] OscarGodson commented on #184
oh, and big thanks for this test case! I've heard a couple other people doing Ruby stuff have this issue so hopefully your test case will help me figure this out!

On Sep 23, 2012, at 10:10 AM, "Maxwell Swadling" notifications@github.com wrote:

[2012-09-23 17:40] OscarGodson commented on #184
Trying to test it but when I try to install Sinatra:

[code]

Not much of a ruby guy. looking into it tho

[2012-09-23 18:30] OscarGodson commented on #184
So, I did a test with a node framework (Geddy). I checked my DB and see:

![](https://www.evernote.com/shard/s5/sh/d375744c-43cf-49c1-8eec-c93bae8f8dce/0579bc8e56e12f94473c9eb05face1fd/res/1010c8ea-b1d2-4615-a904-147555b785e8/skitch.png)

No special characters. This is with the following code:

![](https://www.evernote.com/shard/s5/sh/537baa72-80d0-4451-8f16-b325b3f882a4/4842dc5e3024d35c3208617a69

[2012-09-23 23:25] jipiboily commented on #132
:+1:

[2012-09-23 23:47] mxswd commented on #184
Ok, can you try using this

[code]

And using a POST like this

[code]

That will treat it like ASCII, so if you see this in your terminal.

![](http://i.imgur.com/yosHX.png)

Then we both have the bug.

I don't think it's a Ruby bug, but it could be something with my keyboard. I'm still testing that out.

EDIT: The post on stack overflow has an server side fix by doing:

[code]

So I think these

[2012-09-24 02:10] davidshen84 commented on #184
@OscarGodson my system configuration is pure English with language supporting Chinese. And I was inputting English using English keyboard setting.

[2012-09-24 02:26] mxswd commented on #184
I just tried the U.S. keyboard on Safari and got the same bug.

[2012-09-24 03:13] OscarGodson commented on #184
Well, in the example you have above you're converting the encoding to ascii, right? So, no matter what the encoding was before it'll be messed up because you're converting a rich encoding down to ascii. This is why, by default, this works out of the box with in Node (express, geddy, etc). You're manually trying to convert to ascii.

The original ticket says "charset in iframe is not utf8". There's

[2012-09-24 03:43] davidshen84 commented on #184
Hi Oscar,

My HTML has header "Content-Type: text/html; charset=utf-8", and my web app
is developed in Python2.7 with encoding set in the head. I am observing
this issue on the client, when it post the data. I am NOT trying to convert
UTF-8 to ASCII on the web app side. My browser is Chromium latest in Linux.

On Mon, Sep 24, 2012 at 11:13 AM, Oscar Godson notifications@github.comwrote:

##

Regar

[2012-09-24 04:26] OscarGodson commented on #184
Hmm. What does that line of JS return? That's (characterSet) a native JS method so it won't be wrong.

Running out of ideas if that JS call says UTF8... Can I see your JS? Are you setting the encoding type on your AJAX POST request?

On Sep 23, 2012, at 8:44 PM, "Xi Shen" notifications@github.com wrote:

[2012-09-24 05:03] davidshen84 commented on #184
I tried `editor.getElement('editor').characterSet` on
http://epiceditor.com/ in the console with Chrome 21 on Win7x64, and it
returns  "ISO-8859-1" . My system language is English with "Language for
non-Unicoe programs" set to P.R.China.

On Mon, Sep 24, 2012 at 12:26 PM, Oscar Godson notifications@github.comwrote:

##

Regards，
David Shen

http://about.me/davidshen
https://twitter.com/#!/davidshe

[2012-09-24 05:15] OscarGodson commented on #184
Ah ha, that's probably it. I'll need to research how to override that. I think that UTF8 meta tag will fix it, but I'll need to figure out how to change the default encoding.

On Sep 23, 2012, at 10:03 PM, "Xi Shen" notifications@github.com wrote:

[2012-09-24 06:47] OscarGodson commented on #184
@davidshen84 what do you see when you do the characterSet call in your app in Chrome's console? Is it the same or different?

[2012-09-24 06:52] davidshen84 commented on #184
@Osca, sorry, i cannot get the reference to the editor instance, and i
cannot modify the code right now. :)

On Mon, Sep 24, 2012 at 2:47 PM, Oscar Godson notifications@github.comwrote:

##

Regards，
David Shen

http://about.me/davidshen
https://twitter.com/#!/davidshen84

[2012-09-24 06:53] OscarGodson commented on #184
That's fine whenever you can. This bug is looking to be tricky especially since I'm having front end issues trying to dynamically set the character encoding. :)

On Sep 23, 2012, at 11:52 PM, "Xi Shen" notifications@github.com wrote:

[2012-09-24 08:19] mxswd commented on #184
I think it is a problem with the editor. Try this on the default docs page.

[code]

Where it should have 4 "32"'s for the 4 spaces, it has "32" "160" "32" "160". The "160"'s are the broken chars...

[2012-09-24 15:31] OscarGodson commented on #184
Awh, 160 is `&nbsp;` for the editor pane. I think I figured it out... WebKit converts no-break-breaking-spaces to unicode characters when you ask for innerText. Firefox gives the actual HTML entity in our code. I need to replace `\u00a0` to `' '`.

[2012-09-24 15:46] OscarGodson commented on #184
The fix is in develop. Can you guys check it out and see if that actually does fix it? Now the tryItBtn only returns 4 `32` character codes.

Thanks a lot @maxpow4h !!!

[2012-09-24 15:46] #184 closed, assigned to nobody

[2012-09-24 15:48] mxswd commented on #184
Awesome! Thanks for the fix!

[2012-09-25 11:58] jackmcdade opened #185 "Load by class instead of ID"
Is there any way to load multiple EpicEditors by class, instead of one at a time via an ID or object?

[2012-09-25 15:23] OscarGodson commented on #185
Not currently, no. There hasn't been a use case yet, but I'm not opposed to the idea. Could you tell me what your use case would be? Why would you want to add a bunch of editors at once as opposed to say, one editor you show/hide?

In the meantime, if you use jQuery:

[code]

or vanilla JS something like:

[code]

[2012-09-25 15:31] jackmcdade commented on #185
Well, in Statamic you can customize what fields you want to use to manage the content of your page, and there are often times multiple text editors. If someone really loves EpicEditor, it stands to reason they may want more than one. Also, every other fieldtype we support allows multiple instances.

Here's a screenshot so u know what i mean:

![](http://f.cl.ly/items/3S3Z1U2U3S3Q0a2Q210Z/Screen%20

[2012-09-25 15:34] OscarGodson commented on #185
Awh, I see. Good point. I'll put this on the list then. Hopefully the 0.3.0 release. 0.2.0 is wrapping up.

[2012-09-25 15:35] jackmcdade commented on #185
Cool cool, no huge rush, I have a workaround somewhat like you suggested. Would just be cleaner as a generic selector.

On Sep 25, 2012, at 11:34 AM, Oscar Godson notifications@github.com wrote:

[2012-09-25 16:39] OscarGodson commented on #185
I could use querySelectAll and put it in a loop. I don't need to support IE7 and it works in IE8 so it should be easy :)

On Sep 25, 2012, at 8:35 AM, "Jack McDade" notifications@github.com wrote:

[2012-09-25 17:04] jackmcdade commented on #185
I don't care about IE7 either, go for it :)

On Sep 25, 2012, at 12:39 PM, Oscar Godson notifications@github.com wrote:

[2012-09-30 12:15] davidshen84 commented on #184
I think the issue has not been fix completely. When I edit the content,
- then preview, the preview is correct;
- then I export the file and post the data to my service, the data is correct;

But when I try to edit the content again, the 4 spaces are gone. This issue does not reproduce on http://epiceditor.com/, which does not have the latest developer version.

I think the editor needs to retain

[2012-09-30 22:16] OscarGodson commented on #184
I think it has something to do with how you're saving it or giving it back. The develop branch is working as expected:
http://screencast.com/t/6oHLdyi5

Tested on Firefox too. You can't test against epiceditor.com because you're passing it through a backend and DB. Could you show me with jing maybe? Maybe let me see your logs or give me the exact steps to repro it?

@maxpow4h Did you ever test thi

[2012-09-30 22:34] OscarGodson commented on #184
Awh, yep. I was able to repro this by doing some stuff with geddy. Working on it! Something with the importFile method

[2012-09-30 22:53] OscarGodson commented on #184
OK @davidshen84 could you pull and try again :) *fingers crossed* - it worked for me in my quick little blogging app I just did.

@johnmdonahue we need some tests to test that spaces are preserved correctly. Not sure how to test that tho off the top of my head. If you ever get time let me know if you have any good ideas on how to test all these spacing cases.

[2012-09-30 23:26] mahemoff commented on #41
This would be great to see. It looks like Rangy is the way to go (http://code.google.com/p/rangy/wiki/SelectionSaveRestoreModule). Relevant: http://stackoverflow.com/questions/1181700/set-cursor-position-on-contenteditable-div

[2012-09-30 23:46] mxswd commented on #184
@OscarGodson ah, I only export file, I don't import, so I never noticed.

edit: pulled latest version and added an importFile, works for me fine too.

[2012-10-01 00:38] OscarGodson commented on #41
@mahemoff @hongymagic was really close then left on vacation. He actually had the selection AND a prototype with buttons. The problem was the scope of the pull request was too big. If he makes a new pull request with just the text selection stuff I'll pull it in. If I don't hear from him by `0.3.0` i'll start looking into getting some text selection API's in myself.

Original Pull: https://github.

[2012-10-04 07:16] OscarGodson commented on #160
@sebnitu I'm almost done with this ticket finally (funny how newborns slow down pet project progress :P), so if you get a chance, could you try it out? I added a `reflow` method which will basically resizes the editor insides to fit the container. You can just "reflow" the width and height by passing that as the first param also. Examples:

[code]

To test try out the `feature/ticket-160` branch.

[2012-10-04 07:25] OscarGodson commented on #160
Oh, and @sebnitu here's a demo: http://jsbin.com/efabek/2/

[2012-10-04 19:07] nathancarnes commented on #4
@OscarGodson: started working on this, and have a few questions.

Editor misplacement -- are you seeing that in the docs example? I'm not able to repro in IE8.

Buttons -- dug into this, and it looks like a JS event issue, not a CSS issue. Regardless of focus/hover state, `#epiceditor-utilbar` is set to `display: none;` using an inline style (so, presumably using `.hide()`, although I haven't dug

[2012-10-04 19:12] OscarGodson commented on #4
Yes. I'm seeing this in the docs. I didn't make a new test page. Maybe it's just something on the docs' CSS and that's why I haven't been able to figure it out?

If you get an object required error on the utility bar see my fixes for that issue in IE above. But basically a one line fix at the top of the event handler:

[code]

[2012-10-05 04:39] OscarGodson commented on #3
Fuck it. I really don't want to have to support IE7. Not even Microsoft supports it anymore.

[2012-10-05 04:39] #3 closed, assigned to nobody

[2012-10-05 05:37] OscarGodson commented on #107
Since I've been working with EpicEditor now in real apps I see this is makes things a lot easier especially when prototyping or integrating with existing forms. I'm bumping this up from "extension" to feature and going to try to get this into 0.3.0.

I'm _thinking_ it'll generate a hidden textarea OR you can connect it to an existing textarea. Something like:

[code]

And, EpicEditor will just kee

[2012-10-05 07:53] #1 closed, assigned to dadambickford

[2012-10-05 07:54] OscarGodson commented on #1
I'm just gonna close this. No one has requested this theme and I also don't want a bunch of themes in the default build of EpicEditor.

[2012-10-05 20:54] jensscherbl commented on #107
First example makes sense to me, the others not so much. Editors should only enhance existing (form) elements in an application view, not create crucial parts of it during runtime. Makes it easier to just drop in and swap different editors as needed.

Maybe @tonyarnold has some additional thoughts (he's developing and maintaining a new EpicEditor-extension for [Symphony CMS](http://getsymphony.com

[2012-10-05 20:56] OscarGodson commented on #107
So, do you think @jensscherbl if you don't give it a textarea it should just not create any textarea and basically act as it does now?

[2012-10-05 21:07] jensscherbl commented on #107
I wouldn't overcomplicate things here and instead just **require** a textarea. Even if developers don't use oldschool form handling in their applications and instead doing everything via JavaScript and XHR, having a textarea in the view as a placeholder for EpicEditor (or any other editor) makes building views easier and more straight forward in my opinion.

[2012-10-05 21:19] OscarGodson commented on #107
@jensscherbl
Hmm, I'll think about it. It makes sense tho, but will it bad breaking change for every EpicEditor instance. I closed the IE7 ticket because I just don't want to support it and requiring a textarea would make it so IE7 falls back to a textarea which is nice.

Drupal put this in their WYSIWYG module and not sure who else has been putting this into major projects, so that's my biggest c

[2012-10-07 04:49] tonyarnold commented on #100
I'd love to see this implemented — it's one thing that I have to warn clients about in an otherwise great and simple editor :)

[2012-10-07 06:16] tonyarnold commented on #107
Hi @jensscherbl & @OscarGodson — I agree with what you guys are talking about here. The editor shouldn't create it's own text areas. I don't really have much to add beyond that, but the logic is that I should be able to switch editors without much effort (and most editors seem to require an existing text area).

[2012-10-09 19:49] OscarGodson commented on #100
@tonyarnold This is actually a really, really tough problem unfortunately :( working on it tho and it is scheduled for 0.3.0

[2012-10-09 19:50] OscarGodson commented on #4
@nathancarnes Did you ever make any progress on anything?

[2012-10-09 19:52] nathancarnes commented on #4
@oscargodson -- haven't had time to dig into the JS yet on the button
issue, and I'm not able to reproduce the editor positioning issue, so I'm
kind of at a standstill right now.

[2012-10-09 21:50] OscarGodson commented on #4
So when you open the site in IE8 the editor isn't funky? Are you checking in native IE8 or virtual IE8 from IE9+?

[2012-10-09 21:52] nathancarnes commented on #4
Right, the buttons don't work, but the placement issue isn't there.

Virtual IE8 from 9.

[2012-10-09 21:53] OscarGodson commented on #4
I wonder if that's why. I'm using native IE8. UGH. I HATE IE.

[2012-10-09 21:56] tonyarnold commented on #100
Completely understood, @OscarGodson — I look forward to seeing how you go with this issue.

[2012-10-09 22:00] nathancarnes commented on #4
If I remember correctly, the virtual IE8 in newer version is a
Frankenstein's monster of 8's CSS rendering and 9/10's JS engine.

So that's fun.

[2012-10-14 05:54] OscarGodson commented on #6
Tested on Safari 6. Still works like shit... Updated the comment.

[2012-10-14 09:24] OscarGodson commented on #160
So, it looks like I've hit a crossroads. This `reflow()` method is done, and I know why the bug above was happening. It's because on exiting fullscreen i set the width and height of the container element to `''`, or, the original value in the CSS. The issue is that this wipes out any width or height changes made by JS after page load like you're trying to do.

If i remove the lines where I reset t

[2012-10-14 09:37] OscarGodson commented on #160
Looks like it's possible to get the original CSS value... however... it's extremely unperformant:

[code]

Yes... we're literally parsing ALL CSS rules for ALL stylesheets...Also, this isn't 100% accurate depending on how you've nested your `@imports`.

[2012-10-23 03:36] davidshen84 opened #186 "Full screen edit mode does not work with Chrome & Firefox"
My OS is _64bit_, and my Chrome & Firefox are updated to _latest_. When I enter the full-screen edit mode, Chrome/Firefox would consume very high CPU utilization, and I cannot actually type in the editor.

[2012-10-23 04:15] OscarGodson commented on #186
I don't think 32 or 64 bit makes a difference, but OS might.

Could you open Chromes processes window and take a screenshot of it and then open full screen and take one again so I can see what the increase is? Also can you reproduce this on epiceditor.com? Haven't you been using EE awhile? I haven't updated master in quite a long time. Hmm...

[2012-10-23 05:55] davidshen84 commented on #186
Thank you. I found this issue does not exist on epiceditor.com. I think it
is my problem :) Please close this bug.

On Tue, Oct 23, 2012 at 12:15 PM, Oscar Godson notifications@github.comwrote:

##

Regards，
David Shen

http://about.me/davidshen
https://twitter.com/#!/davidshen84

[2012-10-24 18:26] #186 closed, assigned to nobody

[2012-11-05 23:16] vjpr commented on #159
+1

[2012-11-06 08:47] tmcnab opened #189 "Speech Input"
This is a feature request.

For users of Chrome, display the option in the lower right hand corner with the other icons to append input text via x-webkit-speech. Additionally, add a keyboard shortcut to speak text (ctrl+space?).

[2012-11-06 15:15] OscarGodson commented on #189
Great idea.

[2012-11-09 15:37] OscarGodson commented on #160
I'm going to go ahead and write tests for this and put it into develop since it's been about a month. It's not as bad as I initially thought because unless you need to use `reflow()` you don't need to worry because your editor will stay fluid. And if you need to adjust the height `reflow('height')` will also keep your editor fluid.

[2012-11-11 16:11] OscarGodson commented on #160
OK @sebnitu this is in develop. Whenever you get time test it out! Tests pass in latest Chrome, Firefox, IE9 and 10.

[2012-11-11 16:11] #160 closed, assigned to nobody

[2012-11-14 15:48] OscarGodson commented on #4
Fixed the positioning issue in IE8. Was happening even on a page with no CSS. It was a simple fix tho. See f3d5c8c

[2012-11-20 23:34] victorhooi commented on #147
Hi,

Was there any movement on this?

Is a syntax highlighting plugin still on the roadmap?

Cheers,
Victor

[2012-11-20 23:42] OscarGodson commented on #147
Yes: https://github.com/OscarGodson/EpicEditor/pull/188

I haven't been able to get to fully review all the code yet as I'm trying to finish up the current release, but after that's done I'll look more into the pull request and hopefully get it merged in.

In the meantime you could do it fairly easily by doing something like:

[code]

Or, something very similar. Let me know if you are going to do

[2012-11-20 23:45] OscarGodson commented on #147
But, as of now, it's really hard to review all the pull request and do a bunch of feature work when there's serious bugs and I'm basically the only one working on it :(

[2012-11-23 20:18] tonytonyjan commented on #159
+1

[2012-12-10 07:55] andrejohansson opened #193 "Full screen doesn't work when editor is placed in a frame (tested in Chrome & IE)"
If the editor is part of a frame based layout, full screen doesn't seem to work. It maximizes within the current frame and not over the screen. See attached images.

![before.PNG](https://f.cloud.github.com/assets/2828428/3071/b36710ce-429e-11e2-9563-8618218eb179.PNG)
![after.PNG](https://f.cloud.github.com/assets/2828428/3072/b37e208e-429e-11e2-9793-457874750a7d.PNG)

[2012-12-11 08:59] OscarGodson commented on #193
Do you have a JSBin of this to demo? What kind of frames, `<iframe>`s or old school `<frame>`s?

If you mean `<iframe>`s I think that's just a limitation of Chrome. I don't think it lets you fullscreen things in iframes on top of the window from a child iframe. Since you click the fullscreen button _in_ an iframe (EpicEditor's iframe it generates), it will try to open in it's parent window which h

[2012-12-19 18:29] levhita commented on #100
I Fixed it adding this function to EpicEditor:

  EpicEditor.prototype.sanitize = function () {
    var self = this
      , content = _getText(this.editor);
    _setText(this.editor, content);
    return self;
  };

And Adding this to trigger on paste in my main page

[code]

Hope it helps.

[2012-12-19 18:33] OscarGodson commented on #100
Does this put the cursor in the correct place? I'll try it out again, but that I believe was my original idea but the cursor position wasn't placed where you pasted. Like if pasted mid sentence it should stay mid sentence.

[2012-12-20 00:17] levhita commented on #100
No it doesn't :/ (just tested it) I'ts being used at http://osomtalk.com/  github.com/hackergarage/osomtalk for me is good enough but I'm definitely search a better solution

[2012-12-20 08:07] dbrgn commented on #107
Please include textarea support :) I agree with @jensscherbl though, a textarea should be required, not created.

[2012-12-22 15:16] mjuchli opened #194 "Unexpected token ILLEGAL"
Sometimes - and I've still no clue why - I got the following error during editor.importFile on load:
Uncaught SyntaxError: Unexpected token ILLEGAL

Any ideas?

See about line 40: https://github.com/backender/BackenderEpiceditorBundle/blob/master/Resources/views/Form/epiceditor_widget.html.twig

[2012-12-22 17:13] OscarGodson commented on #194
I'd need to see the generated source when the error happens. Could you send that?

[2012-12-22 17:18] OscarGodson commented on #194
One thing tho that looks to be problematic is that you're importing the text from some other source and because you have it wrapped in single quotes, if your text your importing has single quotes it'll give you an error because, for example:

`.importFile('', 'i'm')`

 is invalid in JS. That's a limitation of JS and most programming languages I can think of. If that's _not_ it please let me know s

[2012-12-22 17:18] #194 closed, assigned to nobody

[2012-12-22 22:14] OscarGodson commented on #96
This isn't working on Firefox. GOD.

[2012-12-27 07:11] OscarGodson commented on #107
@dbrgn yep, this will be in there soon. It'll be the next thing I work on. But as I said above it wont be required since requiring it would actually be more code and more complicated than just adding support for it and wouldn't be backwards compatible and create frivolous markup for people doing Ajax. But I'll try to get this in develop ASAP. Thanks for the support and if you have any suggestions

[2013-01-04 03:34] mindscratch opened #195 "Preview content not updated when autoSave disabled"
It appears with v0.1.1 and master (as of e2b9cd3649252e76b3dc94419ef378c53281f0e8) don't "save" the content before entering "preview" mode.

If you create an EpicEditor and set autoSave to false, then enter some content and click on the "preview" button, the content in "preview" mode will not be updated.

[2013-01-04 18:18] themightychris opened #196 "themes shouldn't have to be inside the epiceditor directory"
I want to avoid modifying modifying the epiceditor source tree when linking in new preview themes. Please update the config option handling so that theme CSS paths matching /^https?:\/\//i don't get prefixed with basePath and then users can link to external CSS files

[2013-01-04 20:57] daxxog commented on #195
Confirmed, I am experiencing the same issue.

[2013-01-04 21:01] OscarGodson commented on #195
I see the problem. Might be a little tricky to fix after inspection. I'll need to have a "epiceditor-preview" storage bin and change up how the editor uses storage for private stuff.

[2013-01-04 21:03] OscarGodson commented on #196
Kinda "magical" since basePath implies it's the base path to everything, but I think it makes sense because you'd never have http://foo.com/my/themes/http://...

[2013-01-06 07:24] OscarGodson commented on #96
Going to reclose this since this is a long outstanding Firefox bug. Theres no decent way to hack it either. The hack would be gnarly and only for Firefox so instead [I reported it](https://bugzilla.mozilla.org/show_bug.cgi?id=824304) and they seem to be looking at it now, hopefully.

[2013-01-06 07:24] #96 closed, assigned to nobody

[2013-01-08 07:25] chjj opened #197 "Marked v0.2.7 is available"
@OscarGodson,

Marked 0.2.7 which adds a few more gfm features (gfm tables, gfm strikethrough, gfm line breaks) is now available. Just thought I'd let you know.

[2013-01-08 09:01] OscarGodson commented on #197
Awesome thanks! These are excellent. Ill put this in right away,

[2013-01-08 09:17] OscarGodson commented on #197
annnnnd done. The tables look great and I had styled them ahead of time for whenever you got around to this!
![Screen Shot 2013-01-08 at 1 17 34 AM](https://f.cloud.github.com/assets/20615/49670/46888e1e-5974-11e2-9ea2-7937d28da64b.png)

[2013-01-08 09:17] #197 closed, assigned to nobody

[2013-01-08 09:19] OscarGodson commented on #193
Until someone knows of an idea to get to the uppermost frame (i dont think it's possible) I'll keep it closed since there's not much I can do. Suggestions welcome tho!

[2013-01-08 09:19] #193 closed, assigned to nobody

[2013-01-08 09:26] OscarGodson opened #198 "Make UI strings configurable"
This was originally a pull request by @cmtt but there was some other commits I didn't want to pull in here: https://github.com/OscarGodson/EpicEditor/pull/192

Waiting for him to submit a new pull request otherwise I'll do this in the next release.

[2013-01-08 17:12] #198 closed, assigned to nobody

[2013-01-09 09:35] OscarGodson commented on #195
@mindscratch @daxxog I've pushed a patch for this (014ccd1). Can you please checkout the branch "feature/ticket-195" and let me know if this fixes your problem? I'd also be interested on if you think the patch is OK code wise. Feels kinda hacky, but not sure if I know a better way.

If it looks good I'll probably write some tests and merge it into develop.

[2013-01-09 13:21] mindscratch commented on #195
I'll take a look this evening (i'm US EST).

On Wed, Jan 9, 2013 at 4:35 AM, Oscar Godson notifications@github.comwrote:

[2013-01-09 14:47] daxxog commented on #195
@OscarGodson I checked out your branch and modified

[code]

in index.html

Everything seems to work now!

Thanks :smile:

[2013-01-09 16:49] OscarGodson commented on #195
@daxxog :thumbsup:

[2013-01-10 00:28] mindscratch commented on #195
@OscarGodson I do see a bit of hacky-ness creeping in, especially since the new "isPreviewDraft" flag is found its way into several places. For now I think it's ok, but it would probably be worthwhile revisiting in the future. Thanks for resolving this, seems to be working for me.

[2013-01-10 00:32] OscarGodson commented on #195
Alright, if everything seems to be working ill add a test or two and merge this one in. Thanks for the report and email!

[2013-01-10 09:26] OscarGodson commented on #195
OK, test in. Closing ticket. Thanks guys!

[2013-01-10 09:26] #195 closed, assigned to nobody

[2013-01-12 00:50] OscarGodson commented on #82
If you just do ctrl+alt+f it works fine.

I'll update the docs tho to reflect this key shortcut for IE.

[2013-01-12 00:50] #82 closed, assigned to dadambickford

[2013-01-12 00:58] OscarGodson commented on #82
https://github.com/OscarGodson/EpicEditor/wiki/User-Manual

[2013-01-13 08:18] OscarGodson commented on #196
This has landed in develop with tests. Thanks!

[2013-01-13 08:18] #196 closed, assigned to nobody

[2013-01-13 19:19] mindscratch opened #200 "Styling doesn't work when stylesheets are precompiled into one stylesheet"
EpicEditor relies on several stylesheets for the editor and preview mode. When using Rails in production I precompile all of my assets (javascript, stylesheets, etc). The result is a single CSS file which combines all other CSS used by the application. Since the EpicEditor stylesheets aren't 100% name spaced some of the styles get overridden causing the editor to not look the way it should all the

[2013-01-13 20:54] OscarGodson commented on #200
It used to be this way: https://github.com/OscarGodson/EpicEditor/blob/0.0.3/epiceditor/themes/preview/github.css

There were a couple problems:
1. It'd made the theme's CSS super ugly and not scannable.
2. It made it so you can't mix and match themes. I.e. If you wanted to use the github theme for editing you couldn't or would have to manually go and change every style. This is a big problem too

[2013-01-14 00:40] mindscratch commented on #200
It might be possible to have the EpicEditor CSS files left untouched and just have them served on their own as needed, for my use case that would be feasible. I'll think about it a little more, maybe there's some better way.

[2013-01-14 07:35] OscarGodson commented on #200
Yeah... so could you just load the EE assets when you need it (also known as lazy loading modules) or is EE loaded on every page? im also very curious what you're building :)

[2013-01-15 02:36] mindscratch commented on #200
I'm working on the admin section of a custom blog.

So far I haven't found a way of loading some assets outside of the Rails asset pipeline when in "production" mode, Rails gives: ActionView::Template::Error (epiceditor.css isn't precompiled)

[2013-01-15 05:24] OscarGodson commented on #200
I don't know rails well enough but we have different packages that get depending on what part of the app you're on. Like, a base package, then an admin package. Hmm.

[2013-01-15 15:17] mindscratch commented on #200
I'm actually looking at using PageDown-Bootstrap now. It seems to have the main features I was interested in and I think the CSS won't be an issue: http://samwillis.co.uk/pagedown-bootstrap/demo/browser/demo.html

[2013-01-15 16:29] #200 closed, assigned to nobody

[2013-01-16 15:22] shatle opened #201 "a problem of code block indent , or a bug?"
i create a new epiceditor and load content from importFile method, but the result is not right!

Ex:

[code]

The output is "`code`\n\n  code block", 4 indents become to 2 , why?

[2013-01-16 16:05] OscarGodson commented on #201
It's working fine for me. Go to http://epiceditor.com and do:

[code]

![Screen Shot 2013-01-16 at 8 03 45 AM](https://f.cloud.github.com/assets/20615/71766/762dc502-5ff6-11e2-99ae-319aea252680.png)

(I put something with 2 spaces so you can see that the import is still 4)

However, I might be on a different setup. What's your browser, browser version and EpicEditor version?

Also, not sure if thi

[2013-01-17 05:21] shatle commented on #201
Thanks, I test in  http://epiceditor.com and success, as your work! but my app still has this problem.
Then i ref http://epiceditor.com/epiceditor/js/epiceditor.js in my app,  not work.
Misted!
The same env, u work, but i am not!

---

[code]

I use coffeescript!

---

Thanks again! if i find the reason, i will write it in here.

[2013-01-17 05:55] OscarGodson commented on #201
Huh, well good luck! Let me know if you need more help.

[2013-01-24 02:43] shatle commented on #201
Maybe
- The epiceditor tag is unabled to be hide
- Does not have other iframes

[2013-01-24 02:43] #201 closed, assigned to nobody

[2013-01-24 03:04] OscarGodson commented on #201
Not sure I follow. EpicEditor tag? Does not have other iframes?

[2013-01-28 16:41] OscarGodson commented on #132
This shouldn't be too hard actually. Someone asked how to do this on StackOverflow so I took a stab at it. It's actually pretty easy if anyone wants to implement this before I get to it:

[code]

The important bits being just the `updateEditorHeight` function and that it's called on `load` and `update`.

@techwraith - I know you wanted to know how hard this would be too awhile back.

DEMO: http://

[2013-01-29 02:32] OscarGodson commented on #107
Alrighty. This should now be working. It's in develop and will be in the next release (`0.2.1`). Please test it and make sure it does what you guys want :)

You can see the docs, but the short is, you now have a `textarea` option. It's `null` by default and if you do a string it'll lookup an ID of an element or you can give it an element like `document.getElementById('foo')`. Once they're linked t

[2013-01-29 02:32] #107 closed, assigned to nobody

[2013-01-29 08:54] OscarGodson commented on #155
Unless I get more reports about Opera im closing this. Out of ~60,000 hits to EpicEditor only 864 were from Opera. The amount of time to get it to work would probably outweigh the amount of use it'd get. I'm open to a pull request tho.

[2013-01-29 08:54] #155 closed, assigned to nobody

[2013-01-29 08:55] OscarGodson commented on #54
As per #155 we wont be supporting Opera.

[2013-01-29 08:55] #54 closed, assigned to dadambickford

[2013-01-29 09:11] OscarGodson commented on #20
Dupe of #21.

[2013-01-29 09:11] #20 closed, assigned to nobody

[2013-01-29 09:23] samdark commented on #155
That's sad to hear. In US Opera isn't that big but, for example, in Russia it has a huge market share.

[2013-01-29 09:58] OscarGodson commented on #155
@samdark Of the ~2.7% of users of EpicEditor from Russia the majority use Chrome by far, then Firefox at about a third of Chrome, then Safari, then Opera. Opera appears to be higher than IE, but it's still in the 1% of the 2.7% of Russian users (or, that's what my analytics says).

[2013-01-29 10:23] samdark commented on #155
That's because it doesn't work in Opera obviously. It's not correct to judge by numbers at the project website. Only tech people are using it. Regular users aren't interested in tech.

[2013-01-29 10:24] samdark commented on #155
Anyway, the decision is yours. It's not really critical, just a suggestion.

[2013-01-29 10:37] OscarGodson commented on #155
@samdark Very true, but the developer wouldn't know it didn't work until he got to the site and by the time he did he'd be tracked. Even so I took a look at: http://gs.statcounter.com/#browser-RU-monthly-201012-201212 and Opera is indeed a popular browser in Russia, but it's still low at 14.6% and has been declining consistently for almost 2 years and rapidly as of late (almost 1% every month).

I

[2013-01-29 11:55] samdark commented on #155
Makes sense. If I'll be back to the project I've tried it for, I'll send a pull request.

[2013-01-30 21:32] afarazit commented on #150
+1

[2013-02-01 00:39] zspecza opened #204 "&nbsp; displays with Firefox and getFile .content"
Playing around with 0.2.1 along with syncing with a `<textarea>` and syntax highlighting via highlight.js, saving content to a MongoDB database, I find that within code tags, any indentation via spaces is outputted as `&nbsp;` for each space except the last, that one outputs fine.

I've tried breaking things a little by removing the `&nbsp;`'s from `.replace()` in lines 183, 1377 and 1380 of epice

[2013-02-01 00:45] OscarGodson commented on #204
I'm not sure off the top of my head, but I will look into it. I believe highlight.js actually adds those in their code and I'm not sure the sequence of events that happen. However, are you using the textarea option I just added? And does this happen without highlight.js but just manually typing in:

[code]

? Also, it'd be awesome if you could upload a testcase or put something on JSBin :)

[2013-02-01 01:32] zspecza commented on #204
I am using the textarea option you just added. It happens without highlight.js too. http://jsbin.com/udaboy/1/edit
Seems it works on non-code tags too. That didn't happen on my local instance after converting to html, which was done simply by wrapping `self.getFiles(textareaFileName, true).content` in a `marked()` call on lines 931 and 935.

[2013-02-01 01:43] OscarGodson commented on #204
Perfect! Thanks man, I'll take a look at it tonight or tomorrow. This helps a lot.

[2013-02-01 01:51] OscarGodson commented on #204
Hmm, ok, having trouble reproing. I put this in the editor. All export functions and the text too doesnt have any `&nbsp;`. Do you have an example of the exact steps or a screencast to repro?

![Screen Shot 2013-01-31 at 5 49 52 PM](https://f.cloud.github.com/assets/20615/116966/dd2ef98e-6c11-11e2-90d3-43ce9060841e.png)

[2013-02-01 02:22] zspecza commented on #204
That's strange. Hmmm...

Have you looked at the JSBin I provided? That reproduces the issue as far as text goes. Would the browser I'm using make any difference? Using the latest Firefox.

[2013-02-01 02:27] OscarGodson commented on #204
That could be it. I tried chrome. The screenshot is from your JSBin.

---

From: declandewetmailto:notifications@github.com
Sent: ‎1/‎31/‎2013 6:22 PM
To: OscarGodson/EpicEditormailto:EpicEditor@noreply.github.com
Cc: Oscar Godsonmailto:oscargodson@outlook.com
Subject: Re: [EpicEditor] &nbsp; behaviour within code tags (#204)

That's strange. Hmmm...

Have you looked at the JSBin I provided? That

[2013-02-01 02:33] zspecza commented on #204
Hardly recognized it (the image) because the basePath I added didn't affect the style of the editor div on my end, which I thought was just a JSBin thing, heh.  I'm downloading Chrome now to see if it's any different to Firefox on my end. If it is then I guess we've nailed what's causing the issue...

[2013-02-01 02:35] OscarGodson commented on #204
Yeah, Firefox and chrome handle content editable differently. Hopefully that's it. I'm not near a computer but will try Firefox as well when I can.